
<!-- Discussion -->
<div class="forum">
  <div @fadeIn class="forum__discussion discussion">

    <!-- User-->
    <div class="discussion__user">
      <img class="img img-small img-circle" src="/assets/images/profile.jpg" alt="">
      <h1 class="name">John Doe</h1>
    </div><!-- User Ends-->

    <!-- Content -->
    <div class="discussion__content">
      <h1 class="content-title">This is the discussion title</h1>
      <p class="text text-gray content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </div><!-- Content Ends -->

    <!-- Info -->
    <div class="discussion__info">
      <ul>
        <li class="info-list"><i class="fa fa-clock-o" aria-hidden="true"></i><br><span class="info-data">Dec 27, 2017</span></li>
        <li class="info-list"><i class="fa fa-reply" aria-hidden="true"></i><br><span class="info-data">33</span></li>
        <li class="info-list"><i class="fa fa-eye" aria-hidden="true"></i><br><span class="info-data">33</span></li>
      </ul>
    </div><!-- Info Ends -->

    <!-- Footer -->
    <div class="discussion__footer">
      <ul>
        <li class="footer-list"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="footer-data">33</span></li>
        <li class="footer-list"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="footer-data">33</span></li>
        <li class="footer-list"><i class="fa fa-share-alt" aria-hidden="true"></i><span class="footer-data">33</span></li>
        <li class=" footer-buttons">
          <button class="button button-small">Answer</button>
          <button class="button button-small" (click)="toggleForum()">
            <span *ngIf="!isExpanded">Expand</span>
            <span *ngIf="isExpanded">Collapse</span>
          </button>
        </li>
      </ul>
    </div><!-- Footer Ends -->

    <!-- Body -->
    <div [@expandCollapse]="isExpanded ? 'expanded' : 'collapsed'" class="discussion__body">

      <!-- Input -->
      <!-- <div [class.collapsed]="!isAnswering" [@expandCollapse]="isAnswering ? 'expanded' : 'collapsed'" class="discussion__input">
      <form class="input-form">
        <mat-form-field class="input-field input">
          <textarea matInput placeholder="Write Answer"></textarea>
        </mat-form-field>
        <div class="input-buttons">
          <button class="button button-small">Reply</button>
          <button class="button button-small" (click)="toggleAnswer()">Cancel</button>
        </div>
      </form>
      </div> -->

      <!-- Answer -->
       <div class="discussion__answer">

      	<!-- User-->
      	<div class="answer-user">
      		<img class="img img-small img-circle" src="/assets/images/profile.jpg" alt="">
      		<h1 class="name">John Doe</h1>
      	</div><!-- User Ends-->

      	<!-- Content -->
      	<div class="answer-content">
      		<p class="text text-gray content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
      	</div><!-- Content Ends -->

      	<!-- Footer -->
      	<div class="answer-footer">
      		<ul>
      			<li class="footer-list"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="footer-data">33</span></li>
      			<li class="footer-list"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="footer-data">33</span></li>
      			<li class="footer-list"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="footer-data">Dec 27, 2017</span></li>
      		</ul>
      	</div><!-- Footer Ends -->

      </div><!-- Answer Ends -->

      <div class="body-buttons">
        <button class="button button-small" (click)="toggleForum()">Collapse</button>
      </div>
    </div><!-- Body Ends -->
  </div>
</div>
