<div class="homepage">
  <div class="box">

    <!--   <h4></h4>
      <li class="component-list"></li>
      <hr class="divider">-->



    <!-- Image -->
    <h4>Image</h4>
    <li class="component-list">
      <h6>Square Image</h6>
      <img class="img img-border img-large img-square" src="/assets/images/profile.jpg" alt="">
    </li>
    <li class="component-list">
      <h6>Medium Image</h6>
      <img class="img img-border img-medium img-circle"src="/assets/images/profile.jpg" alt="">
    </li>
    <li class="component-list">
      <h6>Small Image</h6>
      <img class="img img-border img-small img-circle" src="/assets/images/profile.jpg" alt="">
    </li>
    <!-- Divider -->
    <hr class="divider">



  <!-- List -->
    <h4>Lists</h4>

    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <div class="list-head">
            <h1 class="list-title">List Title Default</h1>
          </div>
          <div class="list-body">
            <li class="list-item">List Item</li>
            <li class="list-item">List Item</li>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="list-group list-green list-hover">
          <div class="list-head">
            <h1 class="list-title">List Title Green</h1>
          </div>
          <div class="list-body">
            <li class="list-item" >List Item</li>
            <li class="list-item">List Item</li>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="list-group list-blue list-hover">
          <div class="list-head">
            <h1 class="list-title">List Title Blue</h1>
          </div>
          <div class="list-body">
            <li class="list-item">List Item<span class="badge-label badge-circle badge-red">33</span></li>
            <li class="list-item">List Item</li>
          </div>
        </div>
      </div>
      </div>


    <!-- Divider -->
    <hr class="divider">


    <h4>Buttons</h4>
    <li class="component-list">
      <button mat-button>Button</button>
      <button class="button">Button</button>
      <button class="button button-blue button-small">Button</button>
      <button class="button button-red button-medium">Button</button>
      <button class="button button-red button-medium" disabled>Disabled</button>
      <button class="button button-green  button-circle">Button</button>
      <button class="button button-yellow button-large button-flat">Button</button>
    </li>
    <li class="component-list">
      <button class="button button-blue-clear button-small">Button</button>
      <button class="button button-red-clear button-medium">Button</button>
      <button class="button button-red-clear button-medium" disabled>Disabled</button>
      <button class="button button-green-clear button-circle">Button</button>
      <button class="button button-yellow-clear button-large button-flat">Button</button>
    </li>
    <hr class="divider">


    <h4>Badges</h4>
      <span class="badge-label badge-square badge-blue">33</span>
      <span class="badge-label badge-square badge-red">33</span>
      <span class="badge-label badge-circle badge-green">33</span>
      <span class="badge-label badge-circle badge-yellow">33</span>
      <span class="badge-label badge-square">33</span>
    <hr class="divider">


    <h4>Icons Group</h4>

    <button class="button"><i class="fa fa-heart icon-large" aria-hidden="true"></i></button>

    <div class="icon-round icon-green">
      <mat-icon>send</mat-icon>
    </div>

    <ul class="icons-group">
      <li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
      <li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
    </ul>

    <hr class="divider">

    <h4>Notifications</h4>
    <!-- Success -->
    <div class="alert alert-green">
      <i class="fa fa-thumbs-o-up icon-large alert-icon" aria-hidden="true"></i>
      <p class="alert-text">You successfully registred. No you can login</p>
      <button class="button"><i class="material-icons alert-close">clear</i></button>
    </div>

    <!-- Danger -->
    <div class="alert alert-red">
      <i class="fa fa-ban icon-large alert-icon" aria-hidden="true"></i><p class="alert-text">You successfully registred. No you can login</p><button class="button"><i class="material-icons alert-close">clear</i></button>
    </div>

    <!-- Warning -->
    <div class="alert alert-yellow">
      <i class="fa fa-exclamation-triangle icon-large alert-icon" aria-hidden="true"></i><p class="alert-text">You successfully registred. No you can login</p><button class="button"><i class="material-icons alert-close">clear</i></button>
    </div>

    <hr class="divider">

    <!-- Titles  -->
    <h4>Titles</h4>

    <h1 class="title title-large title-hover">This is a title</h1>
    <h1 class="title title-medium">This is a title</h1>
    <h1 class="title title-small">This is a title</h1>

    <h1 class="title title-large title-hover title-blue">This is a title</h1>
    <h1 class="title title-medium title-gray">This is a title</h1>
    <h1 class="title title-small title-red">This is a title</h1>
    <h1 class="title title-small title-yellow">This is a title</h1>
    <h1 class="title title-small title-green">This is a title</h1>

    <hr class="divider">


    <!-- Text  -->
    <h4>Text</h4>
    <p class="text text-gray text-small text-medium text-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <hr class="divider">

    <!-- INPUT  -->

  <!-- <div class="input">
    <input type="text" name="" value="" class="input-control" placeholder="Name">
  </div> -->

  <mat-form-field class="input-field">
  <input matInput placeholder="Input">
</mat-form-field>


  <hr class="divider">

    <!-- TEXTAREA  -->
  <h4>Textareas</h4>

  <mat-form-field class="inputs">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>

  <hr class="divider">

    <!-- SELECT  -->
  <h4>Select</h4>

  <mat-form-field>
    <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
  </mat-form-field>

  <hr class="divider">

    <!-- CHECKBOX  -->
  <h4>Checkbox</h4>

  <mat-checkbox>Check me!</mat-checkbox>

  <hr class="divider">

    <!-- PROGRESSBAR  -->
  <h4>Progressbar</h4>

  <mat-spinner></mat-spinner>

  <hr class="divider">

    <!-- EXPENTION PANEL  -->
  <h4>Expanding Panels</h4>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>

  <hr class="divider">

    <!-- DATEPICKER  -->
  <h4>Date Picker</h4>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <hr class="divider">

    <!-- TABLE  -->
  <h4>Table</h4>

  <div class="row"><!-- Row  -->
    <div class="col-2"><!-- Col  -->
      <!-- Table  -->
      <table class="table table-hover table-blue table-center">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Blogs</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>John Doe</td>
            <td>john@gmail.com</td>
            <td>This is a blog</td>
            <td>Published</td>
          </tr>
          <tr>
            <td>01</td>
            <td>John Doe</td>
            <td>john@gmail.com</td>
            <td>This is a blog</td>
            <td>Published</td>
          </tr>
          <tr>
            <td>01</td>
            <td>John Doe</td>
            <td>john@gmail.com</td>
            <td>This is a blog</td>
            <td>Published</td>
          </tr>
        </tbody>
      </table><!-- Table Ends  -->
    </div><!-- Col Ends  -->

    <div class="col-2"><!-- Col  -->
      <!-- Table  -->
      <table class="table table-hover table-red table-center custom-table">
        <div class="custom-head">
          <mat-icon class="custom-icon">account_box</mat-icon>
          <h1 class="custom-title">Users</h1>
          <a class="custom-btn" mat-button routerLink=".">Add User</a>
        </div>
        <thead>

        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>John Doe</td>
            <td>john@gmail.com</td>
            <td>Subscriber</td>
            <td><a class="edit" href="">Edit</a></td>
            <td><a class="delete" href="">Delete</a></td>
          </tr>
        </tbody>
      </table><!-- Table Ends  -->
    </div><!-- Col Ends  -->
  </div><!-- Row Ends -->

  <div class="row">
      <div class="col-2"><!-- Col  -->
        <!-- Table  -->
        <table class="table table-hover table-red table-center custom-table">
          <div class="custom-head">
            <mat-icon class="custom-icon">account_box</mat-icon>
            <h1 class="custom-title">Users</h1>
            <a class="custom-btn" mat-button routerLink=".">Add User</a>
          </div>
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>John Doe</td>
              <td>john@gmail.com</td>
              <td>Subscriber</td>
              <td><a class="edit" href="">Edit</a></td>
              <td><a class="delete" href="">Delete</a></td>
            </tr>
            <tr>
              <td>01</td>
              <td>John Doe</td>
              <td>john@gmail.com</td>
              <td>Subscriber</td>
              <td><a class="edit" href="">Edit</a></td>
              <td><a class="delete" href="">Delete</a></td>
            </tr>
            <tr>
              <td>01</td>
              <td>John Doe</td>
              <td>john@gmail.com</td>
              <td>Subscriber</td>
              <td><a class="edit" href="">Edit</a></td>
              <td><a class="delete" href="">Delete</a></td>
            </tr>
          </tbody>
        </table><!-- Table Ends  -->
      </div><!-- Col Ends  -->

      <div class="col-2"><!-- Col  -->
        <!-- Table  -->
        <table class="table table-hover table-purple table-center custom-table">
          <div class="custom-head">
            <mat-icon class="custom-icon">comment</mat-icon>
            <h1 class="custom-title">Comment</h1>
          </div>
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>John Doe</td>
              <td>Nov 13, 2017</td>
              <td>Closures</td>
              <td>33</td>
              <td><a class="view" href="">View</a></td>
              <td><a class="edit" href="">Unapprove</a></td>
              <td><a class="delete" href="">Delete</a></td>
            </tr>
            <tr>
          </tbody>
        </table><!-- Table Ends  -->
      </div><!-- Col Ends  -->
  </div><!-- Row Ends  -->


  <div class="row">
    <div class="col-1"><!-- Col  -->
      <!-- Table  -->
      <table class="table table-hover table-purple table-center custom-table">
        <div class="custom-head">
          <mat-icon class="custom-icon">assignment</mat-icon>
          <h1 class="custom-title">Blogs</h1>
          <a class="custom-btn" mat-button routerLink=".">Add Blog</a>
        </div>
        <thead>

        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>This is the blog title</td>
            <td>John Doe</td>
            <td>Nov 13, 2017</td>
            <td>22 <br> Likes</td>
            <td>22 <br> Comments</td>
            <td><a class="view" href="">View</a></td>
            <td><a class="view" href="">Published</a></td>
            <td><a class="edit" href="">Edit</a></td>
            <td><a class="delete" href="">Delete</a></td>
          </tr>
          <tr>
        </tbody>
      </table><!-- Table Ends  -->
    </div><!-- Col Ends  -->
    <div class="col-3"><!-- Col  -->
      <!-- Table  -->
      <table class="table table-hover table-purple table-center custom-table">
        <div class="custom-head">
          <mat-icon class="custom-icon">category</mat-icon>
          <h1 class="custom-title">Categories</h1>
          <a class="custom-btn" mat-button routerLink=".">Add Category</a>
        </div>
        <thead>

        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>JavaScript</td>
            <td><a class="edit" href="">Edit</a></td>
            <td><a class="delete" href="">Delete</a></td>
          </tr>
          <tr>
        </tbody>
      </table><!-- Table Ends  -->
    </div><!-- Col Ends  -->
  </div>










  <hr class="divider">

    <!-- BUCKET -->
  <h4>Bucket</h4>

<div class="row">
  <div class="col-3">
    <div class="bucket">
      <div class="list-group list-blue list-hover list-small">
        <div class="list-head">
          <h1 class="list-title">List Title</h1>
        </div>
        <div class="list-body">
          <li class="list-item">
            <img class="img img-medium img-square bucket-img" src="/assets/images/corn.jpg" alt="">
            <h1 class="title-small bucket-title title-hover">This is the title</h1><br>
            <p class="text text-gray bucket-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
          </li>
          <li class="list-item">
            <img class="img img-medium img-square bucket-img" src="/assets/images/corn.jpg" alt="">
            <h1 class="title-small bucket-title title-hover">This is the title</h1><br>
            <p class="text text-gray bucket-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
          </li>
          <li class="list-item">
            <img class="img img-medium img-square bucket-img" src="/assets/images/corn.jpg" alt="">
            <h1 class="title-small title-hover bucket-title ">This is the title</h1><br>
            <p class="text text-gray bucket-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr class="divider">

  <!-- CARD -->
  <h4>Card</h4>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <!-- Card Header -->
        <div class="card-header">
          <!-- Card User -->
          <div class="user card-user">
              <img class="img img-border img-tiny img-circle user-img" src="/assets/images/profile.jpg" alt="">
              <h1 class="title title-small title-gray title-hover user-name">Hasrat Sabit</h1><br>
              <span class="user-info">Nov 10, 2017</span>
          </div><!-- Card User Ends -->
            <!-- Right Corner Menu -->
            <div class="card-menu">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>save</mat-icon>
                  <span>Save</span>
                </button>
              </mat-menu>
            </div><!-- Right Corner Ends -->
        </div><!-- Card Header Ends -->
        <!-- Card Image -->
        <div class="card-img">
            <img class="img" src="/assets/images/corn.jpg" alt="">
        </div>
        <!-- Card Content -->
        <div class="card-content">
          <h1 class="title title-medium title-hover title-gray card-title">This is the title for the card that we use</h1>
          <p class="text text-gray card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div><!-- Card Content Ends-->
        <!-- Card Footer -->
        <div class="card-footer">
          <ul class="icons-group">
            <li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
            <li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
            <li class="icons-list"><button class="button"><i class="fa fa-eye icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
            <li class="icons-list footer-read"><a href="">Read More</a></li>
          </ul>
        </div><!-- Card Footer Ends -->

      </div><!-- Card Ends -->
    </div>
  </div>

  <hr class="divider">

  <!-- User -->
  <h4>User</h4>
  <!-- User -->

  <div class="user-img user-img--sm">
    <img class="user-img__img" src="/assets/images/profile.jpg" alt="">
  </div>



<hr class="divider">
    <h4>Lists</h4>

  <mat-nav-list>
     <a mat-list-item href="..."> Navbar </a>
  </mat-nav-list>


  <hr class="divider">
  <h4>Grid</h4>

<!-- Grid System -->
  <div class="row">
  	<div class="col-4">col-4</div>
  	<div class="col-4">col-4</div>
  	<div class="col-4">col-4</div>
  	<div class="col-4">col-4</div>
  </div>

  <div class="row">
  	<div class="col-3">col-3</div>
  	<div class="col-3">col-3</div>
  	<div class="col-3">col-3</div>
  </div>

  <div class="row">
  	<div class="col-2">col-2</div>
  	<div class="col-2">col-2</div>
  </div><!-- Grid System Ends -->


<!-- Widget -->
  <hr class="divider">
  <h4>Widgets</h4>
  <!-- Row -->
  <div class="row">
    <div class="col-4">
      <!-- Widget -->
      <div class="widget widget-green">
        <div class="widget-icon">
          <mat-icon>comment</mat-icon>
        </div>
        <div class="widget-box">
          <div class="widget-data">
            <h1 class="widget-title">Comments</h1><br>
            <span class="data">343</span>
          </div>
          <div class="widget-footer">
            <span class="date">View Comments</span>
          </div>
        </div>
      </div><!-- Widget Ends-->
    </div>

    <div class="col-4">
      <!-- Widget -->
      <div class="widget widget-orange">
        <div class="widget-icon">
          <mat-icon>assignment</mat-icon>
        </div>
        <div class="widget-box">
          <div class="widget-data">
            <h1 class="widget-title">Blogs</h1><br>
            <span class="data">343</span>
          </div>
          <div class="widget-footer">
            <span class="date">View Blogs</span>
          </div>
        </div>
      </div><!-- Widget Ends-->
    </div>

    <div class="col-4">
      <!-- Widget -->
      <div class="widget widget-red">
        <div class="widget-icon">
          <mat-icon>forum</mat-icon>
        </div>
        <div class="widget-box">
          <div class="widget-data">
            <h1 class="widget-title">Forum</h1><br>
            <span class="data">343</span>
          </div>
          <div class="widget-footer">
            <span class="date">View Forum</span>
          </div>
        </div>
      </div><!-- Widget Ends-->
    </div>

    <div class="col-4">
      <!-- Widget -->
      <div class="widget widget-purple">
        <div class="widget-icon">
          <mat-icon>account_box</mat-icon>
        </div>
        <div class="widget-box">
          <div class="widget-data">
            <h1 class="widget-title">Users</h1><br>
            <span class="data">343</span>
          </div>
          <div class="widget-footer">
            <span class="date">View Users</span>
          </div>
        </div>
      </div><!-- Widget Ends-->
    </div>
  </div><!-- Row Ends -->

  <!-- Forum -->
<hr class="divider">
<h4>Forum</h4>


<!-- Discussion -->
<div class="discussion">

  <!-- User-->
  <div class="discussion__user">
    <img class="img img-small img-circle" src="/assets/images/profile.jpg" alt="">
    <h1 class="name">John Doe</h1>
  </div><!-- User Ends-->

  <!-- Content -->
  <div class="discussion__content">
    <h1 class="content-title">This is the discussion title</h1>
    <p class="text text-gray content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
  </div><!-- Content Ends -->

  <!-- Info -->
  <div class="discussion__info">
    <ul>
      <li class="info-list"><i class="fa fa-clock-o" aria-hidden="true"></i><br><span class="info-data">Dec 27, 2017</span></li>
      <li class="info-list"><i class="fa fa-reply" aria-hidden="true"></i><br><span class="info-data">33</span></li>
      <li class="info-list"><i class="fa fa-eye" aria-hidden="true"></i><br><span class="info-data">33</span></li>
    </ul>
  </div><!-- Info Ends -->

  <!-- Footer -->
  <div class="discussion__footer">
    <ul>
      <li class="footer-list"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="footer-data">33</span></li>
      <li class="footer-list"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="footer-data">33</span></li>
      <li class="footer-list"><i class="fa fa-share-alt" aria-hidden="true"></i><span class="footer-data">33</span></li>
      <li class=" footer-buttons">
        <button class="button button-small">Answer</button>
        <button class="button button-small">Expand</button>
      </li>
    </ul>
  </div><!-- Footer Ends -->

  <!-- Body -->
  <div class="discussion__body">

    <!-- Input -->
    <div class="discussion__input">
    <form class="input-form">
      <mat-form-field class="input-field input">
        <textarea matInput placeholder="Reply"></textarea>
      </mat-form-field>
      <div class="input-buttons">
        <button class="button button-small">Reply</button>
        <button class="button button-small">Cancel</button>
      </div>
    </form>
    </div><!-- Input -->

    <!-- Answer -->
    <div class="discussion__answer">

    	<!-- User-->
    	<div class="answer-user">
    		<img class="img img-small img-circle" src="/assets/images/profile.jpg" alt="">
    		<h1 class="name">John Doe</h1>
    	</div><!-- User Ends-->

    	<!-- Content -->
    	<div class="answer-content">
    		<p class="text text-gray content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    	</div><!-- Content Ends -->

    	<!-- Footer -->
    	<div class="answer-footer">
    		<ul>
    			<li class="footer-list"><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="footer-data">33</span></li>
    			<li class="footer-list"><i class="fa fa-thumbs-down" aria-hidden="true"></i><span class="footer-data">33</span></li>
    			<li class="footer-list"><i class="fa fa-share-alt" aria-hidden="true"></i><span class="footer-data">33</span></li>
    			<li class="footer-list"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="footer-data">Dec 27, 2017</span></li>
    		</ul>
    	</div><!-- Footer Ends -->

    </div><!-- Answer Ends -->

    <!-- Body Ends -->
    <div class="body-buttons">
      <button class="button button-small">Answer</button>
      <button class="button button-small">Expand</button>
    </div>
  </div><!-- Body Ends -->
</div>


<hr class="divider">
<h4>Dialog</h4>

<div class="row">
  <div class="col-2">

    <!-- Dialog -->
    <div class="dialog">

      <!-- Header -->
      <div class="dialog__header">
        <div class="header-title"><i class="fa fa-exclamation-triangle header-warning" aria-hidden="true"></i> Confirm</div>
        <mat-icon class="header-close">clear</mat-icon>
      </div><!-- Header Ends -->

      <!-- Body -->
      <div class="dialog__body">
        <h3 class="body-text"> Are you sure you want to delete:</h3><br>
        <h2 class="body-target">hasrat sabit</h2>
      </div><!-- Body Ends -->

      <!-- Footer -->
      <div class="dialog__footer">
        <button class="button button-small button-red">Delete</button>
        <button class="button button-small button-default">Cancel</button>
      </div><!-- Footer Ends -->

    </div><!-- Dialog Ends -->

  </div>
</div>


<!-- SINGUP FORM -->
<div class="signup">

  <!-- Close -->
  <span class="signup__close">X</span>

  <!-- Title -->
  <h1 class="signup__title">Register</h1>

  <!-- Promo -->
  <div class="signup__promo">

    <!-- Promo 1 -->
    <div class="promo-widget">
      <h2 class="promo-title"><i class="fa fa-share-alt" aria-hidden="true"></i>Network</h2>
      <p class="promo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </div><!-- Promo 1 Ends -->

    <!-- Promo 2 -->
    <div class="promo-widget">
      <h2 class="promo-title"><i class="fa fa-code" aria-hidden="true"></i>Learning</h2>
      <p class="promo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </div><!-- Promo 2 Ends -->

    <!-- Promo 3 -->
    <div class="promo-widget">
      <h2 class="promo-title"><i class="fa fa-comments" aria-hidden="true"></i>Participation</h2>
      <p class="promo-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    </div><!-- Promo 3 Ends -->

  </div><!-- Promo Ends-->

  <!-- Form -->
  <div class="signup__form">
    <mat-form-field class="form-input">
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput placeholder="Confirm">
    </mat-form-field>
    <div class="form-buttons"><button class="button button-green button-round button-medium">Create Account</button></div>
  </div><!-- Form Ends -->


</div><!-- Signup Ends -->


<!-- Login -->
<div class="login">
  <span class="login__close">X</span>
  <h1 class="login__welcome">Welcome</h1>
  <h1 class="login__title">Login</h1>
  <span class="login__text">Login to your account</span>
  <!-- Form -->
  <div class="login__form">
    <mat-form-field class="form-input">
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput placeholder="Password">
    </mat-form-field>
    <!-- Buttons -->
    <div class="login__buttons">
      <button class="button button-medium button-green button-round">Login</button><br>
      <span>Don't have account?</span><a [routerLink]="['/register']" href="#" class="login__create">Create One</a>
    </div><!-- Button Ends -->
  </div><!-- Form Ends -->
</div><!-- Login Ends -->

<hr class="divider">
<h4>Dark Layer</h4>
<!-- Dark Layer -->



<!-- <div class="dark-layer">
  <span class="dark-layer__close">X</span>

  <div class="dark-layer__modal row">

    <div class="col-2">



    </div>
  </div>
</div> -->


<hr class="divider">
<h4>Modal</h4>

<div class="modal">
  <h1 class="modal__title">Title</h1>
  <span class="modal__close">X</span>

  <!-- Form -->
  <div class="modal__form">

    <form action="">
      <mat-form-field class="form-input">
        <input matInput placeholder="Confirm">
      </mat-form-field>

      <!-- Buttons -->
      <div class="modal__buttons">
        <button class="button button-large button-round button-green">Submit</button>
        <button class="button button-large button-round button-green">Cancel</button>
      </div><!-- Buttons Ends -->
    </form>

  </div><!-- Form Ends -->
</div><!-- Modal Ends -->



<div class="row">
  <div class="col-3">
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <!-- Card User -->
        <div class="user card-user">
            <img class="img img-border img-tiny img-circle user-img" src="/assets/images/profile.jpg" alt="">
            <h1 class="title title-small title-gray title-hover user-name">Hasrat Sabit</h1><br>
            <span class="user-info">Nov 10, 2017</span>
        </div><!-- Card User Ends -->
          <!-- Right Corner Menu -->
          <div class="card-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item>
                <mat-icon>save</mat-icon>
                <span>Save</span>
              </button>
            </mat-menu>
          </div><!-- Right Corner Ends -->
      </div><!-- Card Header Ends -->
      <!-- Card Image -->
      <div class="card-img">
          <img class="img" src="/assets/images/corn.jpg" alt="">
      </div>
      <!-- Card Content -->
      <div class="card-content">
        <h1 class="title title-medium title-hover title-gray card-title">This is the title for the card that we use</h1>
        <p class="text text-gray card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div><!-- Card Content Ends-->
      <!-- Card Footer -->
      <div class="card-footer">
        <ul class="icons-group">
          <li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
          <li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
          <li class="icons-list"><button class="button"><i class="fa fa-eye icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
          <li class="icons-list footer-read"><a href="">Read More</a></li>
        </ul>
      </div><!-- Card Footer Ends -->

    </div><!-- Card Ends -->
  </div>
</div>

<hr class="divider">


<!-- LARGE CARD -->

<!-- Large Card -->
<div class="large-card">

  <!-- Header -->
  <div class="large-card__header">
    <img class="img img-border img-medium img-circle header-img" src="/assets/images/profile.jpg" alt="">
    <h1 class="header-author">Hasrat Sabit</h1>
    <span class="header-date">January 01, 2018</span>
    <div class="header-menu">
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div><!-- Header Ends-->

  <!-- Image -->
  <div class="large-card__img">
    <img class="img" src="/assets/images/car-img.jpg" alt="">
  </div><!-- Image Ends -->

  <!-- Content -->
  <div class="large-card__content">
    <h1 class="content-title">This title is about writing code in JavaScript</h1>
    <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  </div><!-- Content Ends -->

  <!-- Footer -->
  <div class="large-card__footer">
    <a href="#" class="footer-icons">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <span class="footer-data">33</span>
    </a>
    <a href="#" class="footer-icons">
      <i class="fa fa-comment" aria-hidden="true"></i>
      <span class="footer-data">33</span>
    </a>
    <a href="#" class="footer-icons">
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <span class="footer-data">33</span>
    </a>
    <button class="footer-button button button-medium button-round button-green-clear">Read More</button>
  </div>

</div><!-- Large Card Ends-->

<hr class="divider">

<!-- TABS -->
<div class="tab">

  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
       Add Category
    </a>
  </li>
  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </span>
       Most Viewed
    </a>
  </li>
  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </span>
       Most Liked
    </a>
  </li>
  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </span>
       Most Shared
    </a>
  </li>
  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-comments" aria-hidden="true"></i>
      </span>
     Most Discussed
    </a>
  </li>
  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </span>
      Most Recent
    </a>
  </li>
  <li class="tab__list">
    <a href="#" class="tab__link">
      <span class="tab__icon">
        <i class="fa fa-tasks" aria-hidden="true"></i>
      </span>
      Category
    </a>
  </li>
</div><!-- TABS Ends-->


<!-- COMMENTS -->
<hr class="divider">

<h1>Comments</h1>
<div class="comment">

  <!-- user -->
  <div class="comment-user">
    <img class="comment-user__img img img-circle img-small img-border" src="./assets/images/profile.jpg" alt="">
    <h1 class="comment-user__name">Hasrat Sabit</h1><br>
    <span class="comment-user__date">Jan 09, 2018</span>
  </div><!-- user Ends -->

  <!-- Text -->
  <div class="comment-text">
    <p class="comment-text__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Laudantium id sed consectetur autem dolor nemo culpa aspernatur 
      in est quis quam distinctio rem eius officiis doloribus repellat 
      harum, asperiores deserunt!</p>
  </div><!-- Text Ends -->

  <!-- Footer -->
  <div class="comment-footer">

    <a class="comment-footer__list" href="">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      15
    </a>

    <a class="comment-footer__list" href="">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      15
    </a>

    <a class="comment-footer__list" href="">
      <i class="fa fa-reply" aria-hidden="true"></i>
        15
    </a>

    <a class="comment-footer__list" href="">Hide Replies</a>
    <a class="comment-footer__list" href="">Show Replies</a>
    <a class="comment-footer__list" href="">Edit</a>
    <a class="comment-footer__list" href="">Delete</a>

  </div><!-- Footer Ends -->

  <!-- Footer -->
  <div class="comment-reply-box">
    <!-- Form -->
    <form>
      <!-- Textarea -->
      <mat-form-field class="input">
        <textarea matInput placeholder="Reply to comment"></textarea>
      </mat-form-field><!-- Textarea Ends -->
      <!-- Buttons-->
      <div class="comment-reply-box__buttons">
        <button class="button button-medium button-default button-round">
            Cancel
          </button>
          <button type="submit" class="button button-medium button-round button-green">
            Submit
        </button>
      </div><!-- Buttons End -->
    </form><!-- Comment Form Ends -->
  </div>

  <div class="comment-reply">

    <!-- user -->
    <div class="comment-user">
      <img class="comment-user__img img img-circle img-small img-border" src="./assets/images/profile.jpg" alt="">
      <h1 class="comment-user__name">Hasrat Sabit</h1><br>
      <span class="comment-user__date">Jan 09, 2018</span>
    </div><!-- user Ends -->

      <!-- Text -->
   <div class="comment-text">
      <p class="comment-text__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Laudantium id sed consectetur autem dolor nemo culpa aspernatur 
        in est quis quam distinctio rem eius officiis doloribus repellat 
        harum, asperiores deserunt!</p>
    </div><!-- Text Ends -->

  </div><!-- Reply Ends -->

</div><!-- Comment Ends -->


<!-- Tab Row  -->
<hr class="divider">
<h1>Tab Rows </h1>

<!-- Tab Row  -->
<div class="tab-row"> 
  <li class="tab-row__list">
    <button class="tab-row__button">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add Comment
    </button>
  </li>
  <li class="tab-row__list">
    <button class="tab-row__button">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Most Viewed
    </button>
  </li>
  <li class="tab-row__list">
    <button class="tab-row__button">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Most Liked
    </button>
  </li>
</div><!-- Tab Row  Ends -->


<!-- Author  -->
<hr class="divider">
<h1>Author</h1>

<!-- Author  -->
<div class="author">

  <img class="author__img img img-small img-circle img-border" src="./assets/images/profile.jpg" alt="">
  <h1 class="author__name">Hasrat Sabit</h1><br>
  <h2 class="author__title">Full Stack Developer</h2>

  <!-- Social Media  -->
  <ul class="author__social-media">
    <li class="author__list">
      <a class="author__link" href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li class="author__list">
      <a class="author__link facebook" href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li class="author__list">
      <a class="author__link" href="#">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a>
    </li>
    <li class="author__list">
      <a class="author__link" href="#">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </li>
  </ul><!-- Social Media Ends  -->

</div><!-- Author  Ends -->

<!-- Blog Card  -->
<hr class="divider">
<h1>Blog Card</h1>

<div class="row"><!-- Row -->
  <div class="col-2"><!-- Col -->

    <!-- Blog Card  -->
    <div class="blog-card">

      <!-- Hero  -->
      <div class="blog-card__hero">
        <span class="blog-card__category">Angular</span>
        <img class="blog-card__img img img-round" src="./assets/images/read-more.jpg" alt="">
      </div><!-- Hero Ends  -->

      <!-- Body  -->
      <div class="blog-card__body">
        <h1 class="blog-card__title">
          larn functional programming with practical examples
        </h1>
        <p class="blog-card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Saepe, quos illo adipisci officiis corporis
           odio architecto quam, pariatur nam provident 
           suscipit vitae molestiae. Accusantium unde 
           illum assumenda ullam sunt pariatur.
        </p>
      </div><!-- Body Ends  -->

      <!-- Footer  -->
      <div class="blog-card__footer">
        <a class="blog-card__link" href="">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__button button button-small button-round button-green-clear" href="">
            Read More
          </a>
      </div><!-- Footer Ends  -->

    </div><!-- Blog Card Ends  -->

  </div><!-- Col Ends  -->
</div><!-- Row Ends -->



<hr class="divider">
<h1>MODAL BOX</h1>

<div class="row">
  <div class="col-2">

    
    <div class="modal-box">

      

      <!-- Modal Header -->
      <div class="modal-box-header">
        <h1 class="modal-box-header__title">Sign Up</h1>
        <button class="modal-buttons modal-box-header__close">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <span class="modal-box-title">Login with</span>

      <!-- Modal Media -->
        <div class="modal-box-media">
          <a href="" class="modal-box-media__links">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="" class="modal-box-media__links">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="" class="modal-box-media__links">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div><!-- Modal Media Ends -->

        <span class="modal-box-divider">Or</span>

      <!-- Success or Error Message -->
      <div class="modal-box-alert">
        <div class="alert alert-green">
          <i class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
          <p class="alert-text">You successfully registred. No you can login</p>
        </div>
      </div><!-- Success or Error Message Ends -->

      <!-- Modal Form -->
      <div class="modal-box-form">
        <mat-form-field class="modal-box-form__inputs">
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="modal-box-form__inputs">
          <input matInput placeholder="Password">
        </mat-form-field>
      </div>

      <!-- Modal Buttons -->
      <div class="modal-box-buttons">
        <button class="modal-buttons modal-box-buttons__buttons">
          <mat-icon class="modal-box-buttons__icon">lock</mat-icon>
          login
        </button>
      </div>

    </div>

  </div>
</div>




<hr class="divider">
<h1>Inline Modal</h1>


<div class="inline-modal">
  <p class="inline-modal__text">Are you sure you want to delete this?</p>
  <button class="inline-modal__button">Delete</button>
  <button class="inline-modal__button">Cancel</button>
</div>



<hr class="divider">
<h1>Blue Button</h1>

<button class="blue-btn blue-btn-sm ">Blue Small</button>
<button class="blue-btn blue-btn-md ">Blue Md</button>
<button class="blue-btn blue-btn-lg ">Blue Lg</button>

<hr class="divider">
<h1>Edit Delete Buttons</h1>

  <a href="" class="icon-btn">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </a>

  <a href="" class="icon-btn">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </a>
</div>
</div>


<hr class="divider">
<h1>Inline Form</h1>

<div class="inline-form">
  <form>
      <mat-form-field class="inline-form__input">
          <input name="title"  matInput type="text" placeholder="Title" #title maxlength="100" required>
          <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <mat-form-field class="inline-form__input">
          <input name="title"  matInput type="text" placeholder="Title" #title maxlength="100" required>
          <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <mat-form-field class="inline-form__input">
          <input name="title"  matInput type="text" placeholder="Title" #title maxlength="100" required>
          <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <div class="inline-form__button">
        <button class="blue-btn blue-btn-sm">Submit</button>
      </div>
  </form>
  <div class="inline-form__button">
      <button class="blue-btn blue-btn-sm">Cancel</button>
  </div>
</div>


<hr class="divider">
<h1>Plate</h1>

<div class="plate">

    <!-- Header -->
    <div class="plate__header">
      <h1 class="plate__title">Upload</h1>
      <div class="plate__close">
        <mat-icon>clear</mat-icon>
      </div>
    </div><!-- Header -->

    <!-- Body -->
    <div class="plate__body">
        <h1 class="plate__message">Upload your image here.</h1>
        <!-- Upload  -->
        <div class="upload">
          <input class="upload__input" type="file">
        </div>
    </div><!-- Body Ends -->

    <!-- Footer -->
    <div class="plate__footer">
      <button class="plate__button button button-default button-small">Cancel</button>
      <button class="plate__button button button-blue button-small">Upload</button>
    </div><!-- Footer Ends -->

  </div>



<!-- <div class="modal-wrapper">
  <div class="modal-wrapper__modal col-3">

  </div>
</div> -->


<div class="data-table">

  <div class="data-table__head">
    <li class="data-table__head-col">No</li>
    <li class="data-table__head-col">Title</li>
    <li class="data-table__head-col">Date</li>
    <li class="data-table__head-col">Likes</li>
    <li class="data-table__head-col">Views</li>
    <li class="data-table__head-col">Comments</li>
    <li class="data-table__head-col">Status</li>
    <li class="data-table__head-col">Link</li>
    <li class="data-table__head-col">Edit</li>
    <li class="data-table__head-col">Delete</li>
  </div>

  <div class="data-table__row">
      <li class="data-table__row-data">1</li>
      <li class="data-table__row-data">This title</li>
      <li class="data-table__row-data">Feb 26, 2018</li>
      <li class="data-table__row-data">0</li>
      <li class="data-table__row-data">22</li>
      <li class="data-table__row-data">15</li>
      <li class="data-table__row-data"><a href="" class="data-table__row-link">Published</a></li>
      <li class="data-table__row-data"><a href="" class="data-table__row-link">Read</a></li>
      <li class="data-table__row-data"><a href="" class="data-table__row-link">Edit</a></li>
      <li class="data-table__row-data"><a href="" class="data-table__row-link">Delete</a></li>
  </div>

  <div class="data-table__footer">
    <li class="data-table__footer-col"><a href="" class="data-table__page-prev">Previous</a></li>
    <li class="data-table__footer-col"><a href="" class="data-table__page-btn">1</a></li>
    <li class="data-table__footer-col"><a href="" class="data-table__page-btn">2</a></li>
    <li class="data-table__footer-col"><a href="" class="data-table__page-btn">3</a></li>
    <li class="data-table__footer-col"><a href="" class="data-table__page-next">Next</a></li>
  </div>

  
</div>



<!-- WRAPPER  -->
<div class="modal-wrapper"></div>