 
<!-- Modal Wrapper -->
<div [@toggleModal]="deleteBlogIsLoaded ? 'expanded' : 'collapsed' "  class="modal-wrapper">
    <div class="modal-wrapper__modal col-3">
        <div class="plate plate--lg-shadow">

        <!-- Header -->
        <div class="plate__header">
            <h1 class="plate__title">Delete Blog</h1>
            <div (click)="toggleDeleteBlog()" class="plate__close">
            <mat-icon>clear</mat-icon>
            </div>
        </div><!-- Header -->

        <!-- Success or Error Message -->
        <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
            <div [ngClass]="alertMessageClass">
                <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
                <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
                <p class="alert-text">{{ alertMessage }}</p>
            </div>
        </div><!-- Success or Error Message Ends -->

        <!-- Body -->
        <div class="plate__body  plate--body-center">
            <h1 class="plate__message">Are you sure you want to delete this blog?</h1>
        </div><!-- Body Ends -->

        <!-- Footer -->
        <div class="plate__footer">
            <button [disabled]="processing" (click)="onDeleteBlog()" class="plate__button button button-blue button-small">Delete</button>
            <button [disabled]="processing" (click)="toggleDeleteBlog()" class="plate__button button button-default button-small">Cancel</button>
        </div><!-- Footer Ends -->

        </div>
    </div>
</div><!-- Modal Wrapper Ends -->
