 <!-- Header -->
 <div class="profile-header">
  <div class="profile-header__bg-img"></div>
  <div class="profile-header__user-info">
      <div class="profile-header__user-img-wrapper">
        <div class="profile-header__user-avatar">
            <span *ngIf="authorizedUsername === personal.username" (click)="toggleProfileUploader()" class="img-btn"><mat-icon>camera_alt</mat-icon></span>
            <img class="profile-header__user-img img img-circle" src="{{domain}}/{{ personal.image }}" alt="">
        </div>
      </div>
      <h1 class="profile-header__user-name">{{ personal.name }}</h1>
      <h1 class="profile-header__user-title">{{ personal.title }}</h1>
      <h3 class="profile-header__user-location">{{ personal.location }}</h3>
      <div class="profile-header__social-media">
          <a href="{{ personal.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="{{ personal.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="{{ personal.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>

      <!-- User control buttons -->
      <div *ngIf="!deleteProfileIsLoaded && !headerFormIsLoaded && authorizedUsername === personal.username" class="profile-header__update-btn">
        <button class="profile-header__ctrl-btn" [matMenuTriggerFor]="userCtrl">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #userCtrl="matMenu">
            <button mat-menu-item (click)="toggleHeaderForm()">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
            <button mat-menu-item (click)="toggleDeleteProfile()" >
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </mat-menu>
      </div><!-- User control buttons End-->
      
  </div>

    <!-- Upload Image Plate Dark Layer-->
    <div [@toggleModal]="profileImageUpload ? 'expanded' : 'collapsed'" class="modal-wrapper">
        <div class="modal-wrapper__modal col-3">
            <!-- Image Upload Plate -->
            <div class="plate">
                <!-- Header -->
                <div class="plate__header">
                    <h1 class="plate__title">Upload</h1>
                    <div (click)="toggleProfileUploader()" class="plate__close">
                        <mat-icon>clear</mat-icon>
                    </div>
                </div><!-- Header Ends -->

                <!-- Success or Error Message -->
                <div @fadeIn *ngIf="uploadMessage" class="modal-box-alert">
                    <div [ngClass]="uploadMessageClass">
                        <i *ngIf="uploadSuccessIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
                        <i *ngIf="!uploadSuccessIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
                        <p class="alert-text">{{ uploadMessage }}</p>
                    </div>
                </div><!-- Success or Error Message Ends -->
                
                <!-- Body -->
                <div class="plate__body">
                    <h1 class="plate__message">Upload your image here.</h1>
                    <!-- Upload  -->
                    <div class="upload">
                        <input [disabled]="processing"  class="upload__input" type="file" (change)="onProfileImageChange($event)">
                        <mat-error *ngIf="imageMessage">{{imageMessage}}</mat-error>
                    </div>
                </div><!-- Body Ends -->
                
                <!-- Footer -->
                <div class="plate__footer">
                    <button [disabled]="processing"  (click)="toggleProfileUploader()"  class="plate__button button button-default button-small">Cancel</button>
                    <button [disabled]="processing" (click)="onUploadImage()" class="plate__button button button-blue button-small">Upload</button>
                </div><!-- Footer Ends -->
            </div><!-- Image Upload Plate Ends-->  
        </div>
    </div><!-- Upload Image Plate Dark Layer Ends-->

    <!-- Delete Profile Alert-->
    <div [@toggleModal]="deleteProfileIsLoaded ? 'expanded' : 'collapsed'" class="modal-wrapper">
        <div class="modal-wrapper__modal col-3">
            <!-- Image Upload Plate -->
            <div class="plate">
                <!-- Header -->
                <div class="plate__header">
                    <h1 class="plate__title">Delete Profile</h1>
                    <div (click)="toggleDeleteProfile()" class="plate__close">
                        <mat-icon>clear</mat-icon>
                    </div>
                </div><!-- Header Ends -->
                
                <!-- Body -->
                <div class="plate__body">
                    <h1 class="plate__message">This will delete all your information in this page. Are you sure you want to delete?</h1>
                </div><!-- Body Ends -->
                
                <!-- Footer -->
                <div class="plate__footer">
                    <button [disabled]="processing"  (click)="toggleDeleteProfile()"  class="plate__button button button-default button-small">Cancel</button>
                    <button [disabled]="processing" (click)="onDeleteProfile()" class="plate__button button button-blue button-small">Delete Profile</button>
                </div><!-- Footer Ends -->
            </div><!-- Image Upload Plate Ends-->  
        </div>
    </div><!-- Delete Profile Alert Plate Dark Layer Ends-->

    <!-- Success or Error Message -->
    <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
        <div [ngClass]="alertMessageClass">
            <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
            <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
            <p class="alert-text">{{ alertMessage }}</p>
        </div>
    </div><!-- Success or Error Message Ends -->


  <!-- Header Form Div -->
  <div [@expandCollapse]="headerFormIsLoaded ? 'expanded' : 'collapsed'" class="profile-header__form inline-form">
    
    <!-- Form -->
    <form [formGroup]="personalForm" (submit)="onPersonalPost()">
        
            <!-- Title -->
            <mat-form-field class="inline-form__input">
                
                <!-- Title Input -->
                <input 
                    formControlName="title" 
                    name="title"  
                    matInput type="text" 
                    placeholder="Title" 
                    #title
                    maxlength="100" 
                    [(ngModel)]="personal.title"
                    required>
                <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
                
                <!-- Title Error Block -->
                <mat-error *ngIf="personalForm.controls.title.dirty && personalForm.controls.title.errors?.required">
                    The title field is required.
                </mat-error>
                <mat-error 
                    *ngIf="personalForm.controls.title.dirty && 
                    (personalForm.controls.title.errors?.minlength || 
                    personalForm.controls.title.errors?.minlength)">
                    The title must be at least 3 charactars but no more than 100 charactars.
                </mat-error>

                <mat-error *ngIf="personalForm.controls.title.dirty && personalForm.controls.title.errors?.validTitleChecker">
                    The title must not contain special charactars. 
                </mat-error>
                <!-- Title Error Ends-->

            </mat-form-field><!-- Title Ends-->

            <!-- Location -->
            <mat-form-field class="inline-form__input">

                <!-- Location Input-->
                <input 
                    formControlName="location" 
                    name="location"  
                    matInput 
                    type="text" 
                    placeholder="Location" 
                    #location 
                    maxlength="100"
                    [(ngModel)]="personal.location" 
                    required>
                <mat-hint align="end">{{location.value?.length || 0}}/100</mat-hint>
                
                <!-- Location Error Block-->
                <mat-error *ngIf="personalForm.controls.location.dirty && personalForm.controls.location.errors?.required">
                    The location field is required.
                </mat-error>
                <mat-error 
                    *ngIf="personalForm.controls.location.dirty && 
                    (personalForm.controls.location.errors?.minlength || 
                    personalForm.controls.location.errors?.minlength)">
                    The location must be at least 3 charactars but no more than 100 charactars.
                </mat-error>

                <mat-error *ngIf="personalForm.controls.location.dirty && personalForm.controls.location.errors?.validLocationChecker">
                    The location must not contain special charactars. 
                </mat-error>
                <!-- Location Error Ends-->

            </mat-form-field><!-- Location Ends -->

            <!-- Twitter -->
            <mat-form-field class="inline-form__input">
                <input 
                    formControlName="twitter" 
                    name="twitter"  
                    matInput 
                    type="text" 
                    placeholder="Twitter(url)" 
                    #twitter 
                    [(ngModel)]="personal.twitter" 
                    maxlength="100">
            </mat-form-field><!-- Twitter Ends -->

            <!-- <mat-form-field class="inline-form__input">
                <input name="instagram"  matInput type="text" placeholder="Instagram" #instagram maxlength="100" required>
            </mat-form-field> -->

            <!-- Linkedin -->
            <mat-form-field class="inline-form__input">
                <input 
                    formControlName="linkedin" 
                    name="linkedin"  
                    matInput 
                    type="text" 
                    placeholder="Linkedin(url)" 
                    #linkedin 
                    [(ngModel)]="personal.linkedin" 
                    maxlength="100">
            </mat-form-field><!-- Linkedin Ends -->

            <!-- Github -->
            <mat-form-field class="inline-form__input">
                <input 
                    formControlName="github" 
                    name="github"  
                    matInput 
                    type="text" 
                    placeholder="Github(url)" 
                    #github 
                    [(ngModel)]="personal.github" 
                    maxlength="100">
            </mat-form-field><!-- Github Ends -->

            <!-- Submit Button -->
            <div class="inline-form__button">
                <button [disabled]="!personalForm.controls.title.valid || !personalForm.controls.location.valid || processing" 
                class="button button-blue button-small" type="submit">Submit</button>
            </div><!-- Submit Button Ends -->
        
      </form><!-- Form Ends-->

      <!-- Cancel Button -->
      <div class="inline-form__button">
          <button 
            [disabled]="processing" 
            (click)="toggleHeaderForm()" 
            class="button button-default button-small">Cancel</button>
      </div><!-- Cancel Button Ends -->
      
    </div><!-- Header Form Ends -->


</div><!-- Header Ends -->