

<div [ngClass]="{'expand-layer': editIsLoaded, 'collapse-layer': !editIsLoaded}" class="dark-layer">

	<span class="dark-layer__close" (click)="toggleEdit()">
		<mat-icon>clear</mat-icon>
	</span>

	<!-- Success or Error Message -->
	<div @fadeIn *ngIf="alertMessage">
		<div [ngClass]="alertMessageClass">
			<i *ngIf="successIcon" class="fa fa-thumbs-o-up icon-large alert-icon" aria-hidden="true"></i>
			<i *ngIf="!successIcon" class="fa fa-ban icon-large alert-icon" aria-hidden="true"></i>
			<p class="alert-text">{{ alertMessage }}</p>
		</div>
	</div><!-- Success or Error Message Ends -->

  <div class="dark-layer__modal row">
    <div class="col-2">
			<!-- Modal -->
			<div [ngClass]="{'expand-dialog': editIsLoaded, 'collapse-dialog': !editIsLoaded}" class="modal">
				<h1 class="modal__title">Edit User</h1>
				<!-- Form -->
				<div class="modal__form">

					<form (submit)="onUpdateUser()">

						<!-- Name Input -->
						<mat-form-field class="input-field register__input">
							<input matInput
							#name = "ngModel"
							[(ngModel)]="user.name"
							type="text"
							 placeholder="Name"
							 name="name">
						</mat-form-field><!-- Name Input Ends-->

						<!-- Email Input -->
						<mat-form-field class="input-field register__input">
							<input matInput
							#email = "ngModel"
							[(ngModel)]="user.email"
							type="email"
							 placeholder="Email"
							 name="email">
						</mat-form-field><!-- Email Input Ends-->

						<!-- Username Input -->
						<mat-form-field class="input-field register__input">
							<input matInput
							#username = "ngModel"
							[(ngModel)]="user.username"
							type="username"
							 placeholder="Username"
							 name="username">
						</mat-form-field><!-- Username Input Ends-->

						<!-- User Role Input -->
						<mat-form-field class="input-field register__input">
							<input matInput
							#userRole = "ngModel"
							[(ngModel)]="user.userRole"
							type="userRole"
							 placeholder="User Role"
							 name="userRole">
						</mat-form-field><!-- User Role Input Ends-->
						<!-- Password Input -->
						<mat-form-field class="input-field register__input">
							<input matInput
							#password = "ngModel"
							[(ngModel)]="user.password"
							type="password"
							 placeholder="Password"
							 name="password">
						</mat-form-field><!-- Password Input Ends-->

						<button type="submit" class="button button-medium button-green button-round">Update</button>
						<button [routerLink]="['/delete-user/', user._id]" class="button button-medium button-red button-round">Delete</button>
					</form>

				</div><!-- Form Ends -->
			</div><!-- Modal Ends -->
    </div>
  </div>
</div>
