<div class="user">
  <div class="row">
    <!-- Table  -->
    <table class="table table-hover table-green table-center custom-table">
      <div class="custom-head">
        <mat-icon class="custom-icon">account_box</mat-icon>
        <h1 class="custom-title">Users</h1>
        <a class="custom-btn" mat-button routerLink=".">Add User</a>
      </div>
      <thead>

      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <td>{{ i }}</td>
          <td>{{ user.name }}</td>
          <td> {{ user.email }}</td>
          <td>{{ user.userRole }}</td>
          <td (click)="loadEdit()"><a class="edit" [routerLink]="['/edit-user/', user._id]">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-user/', user._id]">Delete</a></td>
        </tr>
      </tbody>
    </table><!-- Table Ends  -->
  </div><!-- Row Ends  -->
</div>
