
// ===============
// 	VARIABLES
// ===============
$shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
// Colors
$white: #FFF;
$smoky: whitesmoke;
$Blue: #0096a9;
$LightBlue: #00bcd4;
$Green: #a8c583;
$LightGreen: #bbdb92;
$Yellow: #e1b74c;
$LightYellow: #daa520;
$Red: #cc6565;
$LightRed: #ff7f7f;
$Gray: #666666;
$LightGray:	#E5E5E5;

// Fonts
$TitleFont: 'Oswald', sans-serif;


// Image
$ImgBorderColor: #00bcd4;

// Lists
$ListHeadBlue: #00bcd4;
$ListHeadGreen: #a8c583;
$ListHead: #E5E5E5;
$ListTextColor: #666666;
$ListHover: whitesmoke;

// Buttons
$ButtonBlue: #0096a9;
$ButtonBlueHover: #00bcd4;
$ButtonGreen: #a8c583;
$ButtonGreenHover: #bbdb92;
$ButtonYellow: #e1b74c;
$ButtonYellowHover: #daa520;
$ButtonRed: #cc6565;
$ButtonRedHover: #ff7f7f;





// ===============
// 	MIXINS
// ===============
$small: 700px;
$medium: 1010px;
$large: 1300px;

@mixin atLarge {
	@media screen and (min-width: #{$large}) {
		@content
	}
}

@mixin atMedium {
	@media screen and (min-width: #{$medium}) {
		@content
	}
}

@mixin atSmall {
	@media screen and (min-width: #{$small}) {
		@content
	}
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}



// ===============
// 	GLOBAL
// ===============
	.component-list {
		list-style: none;
		margin: 10px;
	}

	.divider {
		margin: 50px 0;
	}



// ===============
// 	BOX
// ===============
.box {
	background: $white;
	box-shadow: $shadow;
	padding: 10px;
}


// ===============
// 	BOX
// ===============

.img {
	box-sizing: border-box;
	height: auto;
}

.img-square {
	border-radius: 5px;
}

.img-circle {
	border-radius: 50%;
}

.img-large {
	height: auto;
	width: auto;
}

.img-medium {
	height: 40px;
	width: 40px;
}

.img-small {
	height: 30px;
	width: 30px;
}

.img-border {
	border: 3px solid $ImgBorderColor;
}


// ===============
// 	ITEM LISTS
// ===============
.list-group {
	position: relative;
	padding-top: 45px;
}

// Hover Small
.list-small {
	width: 100%;
	@include atSmall {
		width: 25%;
	}
}

// Hover Medium
.list-medium {
	width: 100%;
	@include atSmall {
		width: 50%;
	}
}

// Hover Large
.list-large {
	width: 100%;
}

// Hover Head
.list-head {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 13px 10px;
	background: $ListHead;
}



// Hover Title
.list-title {
	padding: 0;
	margin: 0;
	font-size: 1.1rem;
	color: $ListTextColor;
	text-transform: capitalize;
}


// Hover Body
.list-body {
	width: 100%;
	padding: 0;
	margin: 0;
}

// Hover Items
.list-item {
	position: relative;
	padding: 10px 5px;
	margin: 0;
	width: 100%;
	display: block;
	color: $ListTextColor;
	border-bottom: 1px solid $ListHead;
	border-right: 1px solid $ListHead;
	border-left: 1px solid $ListHead;
	transition: all 300ms linear;
	.badge-label {
		position: absolute;
		right: 10px;
		bottom: 7px;
		padding: 6px 9px;
	}
}

// Hover List
.list-hover {
	.list-item:hover {
		cursor: pointer;
		background: $ListHover;
	}
}


// Blue List
.list-blue {
	.list-head {
		background: $ListHeadBlue;
	}
	.list-title {
		color: $white;
	}
}

// Green List
.list-green {
	.list-head {
		background: $ListHeadGreen;
	}
	.list-title {
		color: $white;
	}
}


// ===============
// 	BUTTONS
// ===============

.button {
	padding: 0;
	margin: 0;
	border: none;
	&:disabled,
	[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
	}
	&:focus,
	&:active {
		outline: none;
		background: transparent;
	}
}


// Button Shapes
.button-flat {
	border-radius: 0;
}

.button-circle {
	padding: 20px 10px !important;
	border-radius: 50%;
}


// Transparent Buttons
.button-blue-clear,
.button-red-clear,
.button-yellow-clear,
.button-green-clear {
	transition: all 300ms linear;
	background: transparent;
	&:hover,
	&:active,
	&:focus {
		color: $white;
		transition: all 300ms linear;
	}
}

.button-blue-clear {
	color: $LightBlue;
	border: 1px solid $LightBlue;
	&:hover,
	&:active,
	&:focus {
		background-color: $LightBlue;
	}
}

.button-green-clear {
	color: $LightGreen;
	border: 1px solid $LightGreen;
	&:hover,
	&:active,
	&:focus {
		background-color: $LightGreen;
	}
}

.button-red-clear {
	color: $LightRed;
	border: 1px solid $LightRed;
	&:hover,
	&:active,
	&:focus {
		background-color: $LightRed;
	}
}

.button-yellow-clear {
	color: $LightYellow;
	border: 1px solid $LightYellow;
	&:hover,
	&:active,
	&:focus{
		background-color: $LightYellow;
	}
}


// Button Colors
.button-blue,
.button-green,
.button-red,
.button-yellow {
	transition: all 300ms linear;
	color: $white;
	font-weight: 900;
	&:hover,
	&:active,
	&:focus {
		color: $white;
		transition: all 300ms linear;
	}
}


.button-blue {
	background: $ButtonBlue;
	&:hover,
	&:active,
	&:focus {
		background: $ButtonBlueHover;
	}
}


.button-red {
	background: $ButtonRed;
	&:hover,
	&:active,
	&:focus  {
		background: $ButtonRedHover;
	}
}

.button-yellow {
	background: $ButtonYellow;
	&:hover,
	&:active,
	&:focus  {
		background: $ButtonYellowHover;
	}
}


.button-green{
	background: $ButtonGreen;
	&:hover,
	&:active,
	&:focus  {
		background: $ButtonGreenHover;
	}
}


// Button Sizes
.button-small {
	padding: 8px 15px;
	font-size: 0.9rem;
}


.button-medium {
	padding: 8px 15px;
	font-size: 0.9rem;
	@include atSmall {
		padding: 10px 17px;
		font-size: 1rem;
	}
}

.button-large {
	padding: 10px 0;
	width: 100%;
	@include atSmall {
		width: auto;
		padding: 15px 25px;
		font-size: 1.2rem;
	}
}


// ===============
// 	BADGES
// ===============


.badge-label {
	font-size: 0.9rem;
	font-weight: 900;
}

// Badge Colors
.badge-blue,
.badge-yellow,
.badge-green,
.badge-red {
	color: $white;
}

.badge-blue { background: $LightBlue }
.badge-yellow { background: $LightYellow }
.badge-green { background: $LightGreen }
.badge-red  { background: $LightRed }

// Badge Shapes
.badge-circle {
	padding: 8px 9px;
	border-radius: 50%;
}

.badge-square {
	padding: 6px 13px;
	border-radius: 10%;
}


// ===============
// 	ICONS GROUP
// ===============

.icon-large {
	font-size: 2rem;
	color: $Gray;
}

.icon-small,
.icon-data {
	font-size: 0.9rem;
	color: $Gray;
}

.icons-list {
	display: inline;
	margin-left: 10px;
	&:first-child {
		margin-left: 0;
	}
}

.icon-data {
	margin-left: 6px;
}


// ===============
// 	NOTIFICATIONS
// ===============

	.alert {
		position: relative;
		width: 100%;
		padding: 15px;
		color: $white;

		i {
			color: $white;
			font-weight: 100 !important;
			background: transparent;
		}

	}

	// Notification Colors.
	.alert-green { background: $LightGreen }
	.alert-red { background: $LightRed }
	.alert-yellow { background: $LightYellow }

	// Notification Icons
	.alert-icon {
		position: absolute;
		left: 15px;
		@include atSmall {
			left: 30px;
		}
	}

	// Notification Close.
	.alert-close {
		position: absolute;
		right: 20px;
		bottom: 17px;
	}

	// Notification Inner Text.
	.alert-text {
		display: inline;
		font-weight: 100;
		margin-left: 40px;
		@include atSmall {
			font-size: 1.2rem;
			margin-left: 60px;
		}
	}


// ===============
// 	TITLES
// ===============

	.title {
		font-family: $TitleFont;
		font-weight: 900;
		text-transform: capitalize;
		margin: 0;
		padding: 0;
	}

	// Title Sizes
	.title-small {
		font-size: 1.5rem;
		@include atSmall {
			font-size: 2rem;
		}
	}

	.title-medium {
		font-size: 2rem;
		@include atSmall {
			font-size: 2.5rem;
		}
	}

	.title-large {
		font-size: 1.5rem;
		@include atSmall {
			font-size: 3rem;
		}
	}

	// Title Style
	.title-hover:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	// Title Colors
	.title-green { color: $Green }
	.title-gray { color: $Gray}
	.title-yellow { color: $Yellow}
	.title-blue { color: $Blue}
	.title-red { color: $Red}


// ===============
// 	    TEXT
// ===============

	.text {
		line-height: 10px;
	}
