<!-- Table  -->
<table class="blog__table table table-hover table-blue table-center custom-table">
  <div class="custom-head">
    <mat-icon class="custom-icon">assignment</mat-icon>
    <h1 class="custom-title">Blogs</h1>
    <button  class="table-button button button-small button-blue" (click)="loadAddBlogForm()">Add Blog</button>
  </div>
  <thead>

  </thead>
  <tbody>
    <tr *ngFor="let blog of blogs; index as i">
      <td>{{ i + 1}}</td>
      <td>{{ blog.title }}</td>
      <td>{{ blog.author }}</td>
      <td>{{ blog.date | date: 'MMM dd, yyyy' }}</td>
      <td>{{ blog.likes }} <br> Likes</td>
      <td>{{ blog.viewCounter }} <br> Views</td>
      <td>{{ blog.comments.length}} <br> Comments</td>
      <td><a class="view" [routerLink]="['/read-more', blog._id]">View</a></td>
      <td *ngIf="blog.authorUsername === username"><a class="view" (click)="changeStatus(blog._id, $event)">{{ blog.blogStatus }}</a></td>
      <td *ngIf="blog.authorUsername === username"><a class="edit" [routerLink]="['/edit-blog', blog._id]">Edit</a></td>
      <td *ngIf="blog.authorUsername === username"><a class="delete" [routerLink]="['/delete-blog', blog._id]">Delete</a></td>
    </tr>
  </tbody>
</table>
<!-- Table Ends  -->