.row {
	width: 100%;
	@include clearfix;
}

// Four columns row
.col-4 {
	width: 100%;
	margin: 15px 0;
	@include atSmall {
		width: 44%;
		float: left;
		margin-left: 4%;

	}
	@include atMedium {
		width: 24%;
		margin-left: 1.2%;
		&:first-child {
			margin-left: 0;
		}
	}
}


// Three columns row
.col-3 {
	width: 100%;
	margin-top: 15px;
	@include atSmall {
		width: 44%;
		float: left;
		margin-left: 4%;
	}

	@include atMedium {
		width: 32%;
		margin-left: 1.3%;
		&:first-child {
			margin-left: 0.7%;
		}
	}
}

.col-2 {
	width: 100%;
	margin: 15px 0;
	@include atMedium {
		width: 49%;
		float: left;
		margin-right: 10px;
	}
}

.col-1 {
	width: 100%;
	margin: 15px 0;
	@include atMedium {
		width: 66%;
		float: left;
	}

	@include atLarge {
		width: 63%;
	}
}
