.login {
	text-align: center;

	&__icon {
		margin-top: 20px;
	}
	&__form {
		@include atSmall {
			width: 60%;
			margin-left: 20%;
		}
	}

	&__title {
		text-align: center;
		font-weight: 100;
	}

	&__input {
		margin: 5px 0;
	}

	// button {
	// 	width: 100%;
	// 	padding: 10px 20px;
	// 	font-size: 1.2rem;
	// 	font-weight: 100;
	// 	background: $DarkGreen;
	// 	color: $white;
	// 	@include atSmall {
	// 		width: auto;
	// 	}
	// }
}
