

.profile {
    padding: 10px 0;
}



// HEADER
.profile-header {
    position: relative;
    height: auto;
    width: 100%;
    background: whitesmoke;
    box-shadow: $shadow;

    &__bg-img {
        width: 100%;
        height: 150px;
        background-image: url('./assets/images/profile-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include atMedium {
            height: 200px;
        }
    }

    &__user-info {
        transform: translateY(-50px);
        text-align: center;
        @include atMedium {
            transform: translateY(-75px);  
        }
    }

    &__user-img-wrapper {
        position: relative;
        

        .img-btn {
            z-index: 2;
            opacity: 0;
            border-radius: 50%;
            background: rgba(black, 0.3);
            transition: all 300ms ease-in-out;
            &:hover {
                opacity: 1;
            }
        }

        mat-icon {
            position: absolute;
            top: 40%;
            left: 35%;
            cursor: pointer;
            color: #FFF;
        }
    }

    &__user-avatar {
        position: relative;
        margin: 0 auto;
        background-image: url('./assets/images/avatar.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        @include atMedium {
            width: 110px;
            height: 110px;
        }
    }



    .img-btn,
    &__user-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__user-img {
        border: 3px solid #FFF;
        box-shadow: $shadow;
    }

    &__ctrl-btn {
        background: transparent;
        border: none;
        color: $Gray;
        opacity: 0.8;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        &:hover,
        &:focus {
            outline: 0;
            opacity: 1;
        }
    }

    &__user-name,
    &__user-title,
    &__user-location {
        font-family: $TableFont;
        color: $Gray;
        padding-top: 5px;
    }

    &__user-name {
        padding-top: 10px;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 900;
        @include atSmall {
            font-size: 1.2rem;
        }
    }

    &__user-location,
    &__user-title {
        font-size: 0.8rem;
        text-transform: capitalize;
        font-weight: 100;
    }

    &__update-btn {
        margin-top: 10px;
    }

    &__social-media {
        padding-top: 20px;

        a {
            margin: 0 10px;
            text-decoration: none;
        }

        .fa {
            font-size: 1.1rem;
            opacity: 0.5;
            transition: all 300ms ease-in-out;
            &:hover {
                opacity: 1;
            }
            // color: #FFF;
            // padding: 8px 10px;
            // border-radius: 50%;
        }

        .fa-twitter {color: $LightBlue}
        .fa-instagram {color: $DarkPurple}
        .fa-linkedin {color: $DarkBlue}
        .fa-github {color: $LightGreen}
    }

    // Header Form
    &__form {
        width: 90%;
        margin-left: 5%;
        padding-bottom: 20px;
        @include atSmall {
            width: 95%;
            margin-left: 2.5%;
        }
    }
}

// TABLES
.profile-table {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: $shadow;
    background: whitesmoke;
    margin-top: 10px;
    font-family: $TableFont;
    color: $Gray;
    transition: all 300ms ease-in-out;

    &__header {
       width: 100%;
       padding: 10px 0;
       background: $white;
       border-bottom: $LightBorder; 
    }

    &__title,
    &__icon {
        display: inline-block;
    }

    &__icon {
        font-size: 1rem;
        margin-left: 10px;
        transform: translateY(5px);
        @include atSmall {
            font-size: 1.5rem;
            margin-right: 10px;
        }
    }

    &__title {
        font-size: 0.8rem;
        text-transform: uppercase;
        @include atSmall {
            font-size: 1rem;
        }
    }

    &__add-btn {
        visibility: hidden;
        border: none;
        background: $LightGray;
        color: $Gray;
        font-size: 0.5rem;
        font-weight: 100;
        padding: 8px;
        border-radius: 2px;
        float: right;
        margin-right: 10px;
        transform: translateY(-2px);
        cursor: pointer;
        &:hover,
        &:focus {
            outline: none;
        }
    }

    &:hover .profile-table__add-btn{
        visibility: visible;
    }

    // Table Form 
    &__form {
        width: 90%;
        margin-left: 5%;
        padding-bottom: 20px;
        margin-top: 10px;
        @include atSmall {
            width: 95%;
            margin-left: 2.5%;
        }
    }

    // about Form
    &__about-textarea {
        @include atSmall {
            width: 100% !important;
        }
    }

    &__about-button {
        @include atSmall {
            float: right;
        }
    }

    &__row {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
        border-bottom: $LightBorder;
        transition: all 300ms ease-in-out;
        background: whitesmoke;
        &:hover,
        &:focus,
        &:active {
            background: $white;
        }
    }

    &__data {
        font-size: 0.8rem;
        text-transform: capitalize;
    }

    &__link {
        text-decoration: none;
        color: $LightBlue;
    }

    &__update-btn {
        .icon-btn {
            visibility: hidden;
            margin-right: 10px;
        }
    }

    &__row:hover .icon-btn {
        visibility: visible;
    }


    .arrow-btn {
        
    }

    &__row-detail {
        background: whitesmoke;
        border-bottom: $LightBorder;
        padding: 15px 0;
    }

    &__discription {
        font-size: 0.8rem;
        padding: 0 10px;

        @include atMedium {
            padding: 0 20px;
        }
    }
}


// Arrow Animation 
.arrowBtnUp {
    
    animation: arrow-up 300ms ease-in-out forwards;
}

@keyframes arrow-up {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}

.arrowBtnDown {
    animation: arrow-down 300ms ease-in-out forwards;
}

@keyframes arrow-down {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}