.side-navbar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 45%;
	z-index: 100;
	background-image: url('./assets/images/nav-bg-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(black, 0.8);
	box-shadow: $shadow;
	&:hover {
		overflow-y: scroll;
	}
	@include atSmall {
		width: 18%;
		z-index: 0;
	}

	@include atLarge {
		width: 14%;
	}
}




.navbar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;

	li {
		position: relative;
		margin: 0;
		padding: 20px 0;
		border-bottom: 1px solid rgba(white, 0.1);
		transition: $SmoothTrasition;
		&:hover {
			background: rgba(white, 0.3);
			transition: $SmoothTrasition;
		}
	}

	li:focus,
	li:active,
	li:hover mat-icon,
	li:hover a {
		opacity: 1;
		outline: none;
		transition: $SmoothTrasition;
	}

	a,
	mat-icon {
		transition: $SmoothTrasition;
		color: white;
		opacity: 0.8;
	}

	a {
		text-decoration: none;
		font-family: $GeneralFont;
		font-size: 0.9rem;
		margin-left: 45px;
		opacity: 0.8;
		@include atSmall {
			font-size: 1.1rem;
		}
	}

	mat-icon {
		position: absolute;
		top: 22px;
		left: 10px;
		font-size: 1.1rem;
		@include atSmall {
			font-size: 1.4rem;
		}
	}
}


// Scrollbar

::-webkit-scrollbar {
	height: 5px;
	width: 3px;
	background: darken($LightGreen, 3%);
	display: none;
	transition: all 200ms linear;
}

.side-navbar:hover::-webkit-scrollbar {
	display: block;
	transition: all 200ms linear;
}

::-webkit-scrollbar-corner {
	background: $LightGreen;
}

::-webkit-scrollbar-thumb {
	background-color: $LightGray;
	background: lighten($LightGray, 100%);
}
