.top-nav {
	position: relative;
	float: right;
	width: 100%;
	transition: all 300ms cubic-bezier(.32,.95,.38,.74);

	@include atSmall {
		width: 82%;
	}

	@include atLarge {
		width: 86%;
	}

	&__right-nav {
		float: right;
		display: none;
		@include atSmall {
			display: block;
		}
	}

	li {
		display: inline-block;
		padding: 10px;
	}

	&__side-nav-toggle {
		position: fixed;
		right: 10px;
		top: 10px;
		z-index: 10;
		@include atSmall {
			position: relative;
			left: 0;
		}
	}


	&__search {
		position: relative;
		right: 50px;

		.menu-button {
			position: absolute;
			right: -38px;
			bottom: 23px;
		}
	}

	&__filter mat-icon,
	&__profile mat-icon {
		color: $Gray;
	}

}

.nav-is-expanded {
	@include atSmall {
		width: 100%;
	}
}
