<!-- Dark Layer -->
<div [ngClass]="{'expand-layer': deleteCategoryIsLoaded, 'collapse-layer': !deleteCategoryIsLoaded}" class="dark-layer">
  <span (click)="toggleDeleteCategory()" class="dark-layer__close">X</span>

  <!-- Success or Error Message -->
  <div @fadeIn *ngIf="alertMessage">
    <div [ngClass]="alertMessageClass">
      <i *ngIf="successIcon" class="fa fa-thumbs-o-up icon-large alert-icon" aria-hidden="true"></i><i *ngIf="!successIcon" class="fa fa-ban icon-large alert-icon" aria-hidden="true"></i><p class="alert-text">{{ alertMessage }}</p><button class="button" (click)="closeMessage()"><i class="material-icons alert-close">clear</i></button>
    </div>
  </div><!-- Success or Error Message Ends -->

  <!-- Row -->
  <div class="dark-layer__modal-small row">
    <!-- Col -->
    <div class="col-3">

      <!-- Dialog -->
      <div [ngClass]="{'expand-dialog': deleteCategoryIsLoaded, 'collapse-dialog': !deleteCategoryIsLoaded}" class="dialog">

        <!-- Header -->
        <div class="dialog__header">

          <div class="header-title"><i class="fa fa-exclamation-triangle header-warning" aria-hidden="true"></i> Confirm</div>

          <span (click)="toggleDeleteCategory()" class="header-close">
            <i class="fa fa-times " aria-hidden="true"></i>
          </span>

        </div><!-- Header Ends -->

        <!-- Body -->
        <div class="dialog__body">
          <h3 class="body-text"> Are you sure you want to delete:</h3><br>
          <h2 class="body-target">{{ deletingCategory }}</h2>
        </div><!-- Body Ends -->

        <!-- Footer -->
        <div class="dialog__footer">

          <button [disabled]="processing" (click)="toggleDeleteCategory()" class="button button-small button-default">Cancel</button>
          <button [disabled]="processing" (click)="onDeleteCategory()" class="button button-small button-red">Delete</button>

        </div><!-- Footer Ends -->

      </div><!-- Dialog Ends -->

    </div><!-- Col Ends -->
  </div><!-- Row Ends -->
</div><!-- Dark Layer Ens -->
