<!-- Tool Col -->
<div class="col-2">

    <!-- Tools -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">build</mat-icon>
            <h1 class="profile-table__title">Programming Tools</h1>
            <button *ngIf="!toolFormIsLoaded && authorizedUsername === url.username" (click)="toggleToolForm()" class="profile-table__add-btn">Add Tool</button>
        </div>

        <!-- Success or Error Message -->
        <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
            <div [ngClass]="alertMessageClass">
                <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
                <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
                <p class="alert-text">{{ alertMessage }}</p>
            </div>
        </div><!-- Success or Error Message Ends -->

        <!-- Tool Form -->
        <div [@expandCollapse]="toolFormIsLoaded ? 'expanded' : 'collapsed'" class="profile-table__form inline-form">
            <form [formGroup]="toolForm" (submit)="onToolSubmit()">

                <!-- Tool  -->
                <mat-form-field class="inline-form__input">
                    <input 
                    formControlName="tool" 
                    name="tool" 
                    maxlength="100" 
                    matInput 
                    placeholder="Tool" 
                    #tool 
                    required>
                    <mat-hint align="end">{{tool.value?.length || 0}}/100</mat-hint>
                    <mat-error *ngIf="toolForm.controls.tool.dirty && toolForm.controls.tool.errors?.required">
                        The tool field is required.
                    </mat-error>
                    <mat-error *ngIf="toolForm.controls.tool.dirty && (toolForm.controls.tool.errors?.minlength || toolForm.controls.tool.errors?.maxlength)">
                        The tool must be at least two characters but no more than 100. 
                    </mat-error>
                    <mat-error *ngIf="toolForm.controls.tool.dirty && toolForm.controls.tool.errors?.validToolChecker">
                        The tool field must not contain special characters.
                    </mat-error>
                </mat-form-field><!-- Language Ends -->
                
                <!-- Level  -->
                <mat-form-field  class="inline-form__input">
                    <mat-select formControlName="level" placeholder="Choose Level">
                        <mat-option value="basic">Basic</mat-option>
                        <mat-option value="midlevel">Mid Level</mat-option>
                        <mat-option value="advance">Advance</mat-option>
                    </mat-select>
                </mat-form-field><!-- Level End  -->
                
                <!-- Date Picker  -->
                <mat-form-field  class="inline-form__input">
                    <input formControlName="start" matInput [matDatepicker]="picker" placeholder="Since">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="toolForm.controls.start.dirty && toolForm.controls.start.errors?.required">
                        The date field is required.
                    </mat-error>
                </mat-form-field><!-- Date Picker Ends  -->


                <div class="inline-form__button">
                    <button type="submit" 
                    [disabled]="processing || !toolForm.valid"
                    class="button button-blue button-small">Submit</button>
                </div>
            </form>
            <div class="inline-form__button">
                <button [disabled]="processing" (click)="toggleToolForm()"  
                class="button button-default button-small">Cancel</button>
            </div>
        </div><!-- Skill Form Ends -->

        <!-- Update Tool Form -->
        <div [@expandCollapse]="updateToolFormIsLoaded ? 'expanded' : 'collapsed'" class="profile-table__form inline-form">
            <form [formGroup]="toolForm" (submit)="onUpdateToolSubmit()">

                <!-- Tool  -->
                <mat-form-field class="inline-form__input">
                    <input 
                    formControlName="tool"
                    [(ngModel)]="singleTool.tool"
                    name="tool" 
                    maxlength="100" 
                    matInput 
                    placeholder="Tool" 
                    #tool 
                    required>
                    <mat-hint align="end">{{tool.value?.length || 0}}/100</mat-hint>
                    <mat-error *ngIf="toolForm.controls.tool.dirty && toolForm.controls.tool.errors?.required">
                        The tool field is required.
                    </mat-error>
                    <mat-error *ngIf="toolForm.controls.tool.dirty && (toolForm.controls.tool.errors?.minlength || toolForm.controls.tool.errors?.maxlength)">
                        The tool must be at least two characters but no more than 100. 
                    </mat-error>
                    <mat-error *ngIf="toolForm.controls.tool.dirty && toolForm.controls.tool.errors?.validToolChecker">
                        The tool field must not contain special characters.
                    </mat-error>
                </mat-form-field><!-- Language Ends -->
                
                <!-- Level  -->
                <mat-form-field  class="inline-form__input">
                    <mat-select [(ngModel)]="singleTool.level" formControlName="level" placeholder="Choose Level">
                        <mat-option value="basic">Basic</mat-option>
                        <mat-option value="midlevel">Mid Level</mat-option>
                        <mat-option value="advance">Advance</mat-option>
                    </mat-select>
                </mat-form-field><!-- Level End  -->
                
                <!-- Date Picker  -->
                <mat-form-field  class="inline-form__input">
                    <input [(ngModel)]="singleTool.start" formControlName="start" matInput [matDatepicker]="uToolPicker" placeholder="Since">
                    <mat-datepicker-toggle matSuffix [for]="uToolPicker"></mat-datepicker-toggle>
                    <mat-datepicker #uToolPicker></mat-datepicker>
                    <mat-error *ngIf="toolForm.controls.start.dirty && toolForm.controls.start.errors?.required">
                        The date field is required.
                    </mat-error>
                </mat-form-field><!-- Date Picker Ends  -->


                <div class="inline-form__button">
                    <button type="submit" 
                    [disabled]="processing || !toolForm.valid"
                    class="button button-blue button-small">Submit</button>
                </div>
            </form>
            <div class="inline-form__button">
                <button [disabled]="processing" (click)="cancelUpdateToolForm()"  
                class="button button-default button-small">Cancel</button>
            </div>
        </div><!-- Skill Form Ends -->

        <!-- Inline Alert -->
        <div @fadeIn *ngIf="toolIsDeleting" class="inline-modal">
            <p class="inline-modal__text">Are you sure you want to delete this?</p>
            <button (click)="onDeleteTool()" class="inline-modal__button">Delete</button>
            <button (click)="toggleDeleteTool(tool._id)" class="inline-modal__button">Cancel</button>
        </div><!-- Inline Alert -->

        <div *ngFor="let tool of tools; index as i" class="profile-table__row">
            <span class="profile-table__data">{{ i + 1 }}</span>
            <span class="profile-table__data">{{ tool.tool }}</span>
            <span class="profile-table__data">{{ tool.level }}</span>
            <span class="profile-table__data">Since&nbsp; {{ tool.start | date: 'MMM, yyyy' }}</span>
            <div class="profile-table__update-btn">
                <a (click)="toggleUpdateTool(tool._id)" class="icon-btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a (click)="toggleDeleteTool(tool._id)"  class="icon-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div><!-- Tools End -->

</div> <!-- Tool Col Ends -->