<div class="register box">
	<h1 class="title title-large register__title">Create New Account</h1>
	<form class="login__form">
		<mat-form-field class="input-field register__input">
			<input matInput type="text" placeholder="Name">
		</mat-form-field>
		<mat-form-field class="input-field register__input">
			<input matInput type="email" placeholder="Email">
		</mat-form-field>
		<mat-form-field class="input-field register__input">
			<input matInput type="text" placeholder="Username">
		</mat-form-field>
		<mat-form-field class="input-field register__input">
			<input matInput type="password" placeholder="Password">
		</mat-form-field>
		<mat-form-field class="input-field register__input">
			<input matInput type="password" placeholder="Confirm Password">
		</mat-form-field>
		<button  class="button button-large button-green-clear">Create Account</button>
	</form>
</div>
