<div [@toggleModal]="updateFormIsLoaded ? 'expanded' : 'collapsed'" class="modal-wrapper">
    
    <div class="modal-wrapper__add-blog">
      <!-- Modal Box -->
      <div class="modal-box">
    
          <!-- Modal Header -->
          <div class="modal-box-header">
            <h1 class="modal-box-header__title">Edit Blog</h1>
            <button (click)="toggleUpdateForm()" class="modal-buttons modal-box-header__close">
              <mat-icon>clear</mat-icon>
            </button>
          </div><!-- Modal Header Ends -->
    
          <!-- Success or Error Message -->
          <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
            <div [ngClass]="alertMessageClass">
              <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
              <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
              <p class="alert-text">{{ alertMessage }}</p>
            </div>
          </div><!-- Success or Error Message Ends -->
    
          <!-- Form -->
          <form (submit)="onUpdateBlog()" [formGroup]="updateForm">
            <!-- Modal -->
            <div class="modal-box-form">
            
                <!-- Title -->
                <mat-form-field class="modal-box-form__inputs">
                  <input #title formControlName="title" [(ngModel)]="blog.title" maxlength="200" matInput type="text" placeholder="Title">
                  <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
      
                    <!-- Error Block -->
                    <mat-error *ngIf="updateForm.controls.title.dirty && updateForm.controls.title.errors?.required">The title field is required.</mat-error>
                    <mat-error *ngIf="updateForm.controls.title.dirty && updateForm.controls.title.errors?.minlength">The title must be at least 3 characters.</mat-error>
                    <mat-error *ngIf="updateForm.controls.title.dirty && updateForm.controls.title.errors?.maxlength">The title must not exceed 100 characters.</mat-error>
                    <mat-error *ngIf="updateForm.controls.title.dirty && updateForm.controls.title.errors?.validTitleChecker">The title must not not contain special characters.</mat-error>
      
                </mat-form-field><!-- Title Ends -->
      
                <!-- Select -->
                <mat-form-field  class="modal-box-form__inputs">
                  <mat-select formControlName="category" [(ngModel)]="blog.category"  #val (change)="onSelect(val.value)" placeholder="Select Category">
                    <mat-option
                    *ngFor="let cat of categories"
                    [value]="cat.category">
                    {{ cat.category }}</mat-option>
                  </mat-select>
                </mat-form-field><!-- Select Ends-->
      
                <!-- Image -->
                <div class="upload">
                  <input  class="upload__input" type="file" (change)="onFileChange($event)">
                  <mat-error *ngIf="imageMessage">{{imageMessage}}</mat-error>
                </div><br><!-- Image Ends -->
      
                <!-- Body -->
                <mat-form-field class="modal-box-form__inputs">
                  <textarea [froalaEditor]  #body formControlName="body" [(ngModel)]="blog.body" maxlength="5000" matInput placeholder="Body"></textarea>
                  <mat-hint align="end">{{body.value?.length || 0}}/5000</mat-hint>
                  
                  <!-- Error Block -->
                  <mat-error *ngIf="updateForm.controls.body.dirty && updateForm.controls.body.errors?.required">The body field is required.</mat-error>
                  <mat-error *ngIf="updateForm.controls.body.dirty && updateForm.controls.body.errors?.minlength">The body must be at least 50 characters.</mat-error>
                  <mat-error *ngIf="updateForm.controls.body.dirty && updateForm.controls.body.errors?.maxlength">The body must not exceed 5000 characters.</mat-error>
      
                </mat-form-field><!-- Body Ends -->

            </div><!-- Modal Ends -->
      
            <!-- Modal Buttons -->
            <div class="modal-box-buttons">
              <button [disabled]="processing || !updateForm.valid || !validImage" type="submit" class="modal-buttons modal-box-buttons__buttons">
                <mat-icon class="modal-box-buttons__icon">mail</mat-icon>
                Update Blog
              </button>
              <!-- <button [disabled]="processing" [routerLink]="['/delete-blog/', blog._id]" class="button button-medium button-round button-red">Delete</button> -->
            </div>
    
          </form><!-- Form Ends -->

        </div><!-- Modal Ends -->
      
    </div><!-- Col Ends -->
    
</div><!-- Row Ends -->















