<div class="box">

  <!--   <h4></h4>
    <li class="component-list"></li>
    <hr class="divider">-->



  <!-- Image -->
  <h4>Image</h4>
  <li class="component-list">
    <h6>Square Image</h6>
    <img class="img img-border img-large img-square" src="/assets/images/profile.jpg" alt="">
  </li>
  <li class="component-list">
    <h6>Medium Image</h6>
    <img class="img img-border img-medium img-circle"src="/assets/images/profile.jpg" alt="">
  </li>
  <li class="component-list">
    <h6>Small Image</h6>
    <img class="img img-border img-small img-circle" src="/assets/images/profile.jpg" alt="">
  </li>
  <!-- Divider -->
  <hr class="divider">



<!-- List -->
  <h4>Lists</h4>

  <li class="component-list"><!-- Small List -->

    <h6>Small List Default</h6>

    <div class="list-group list-small">
      <div class="list-head">
        <h1 class="list-title">List Title</h1>
      </div>
      <div class="list-body">
        <li class="list-item">List Item</li>
        <li class="list-item">List Item</li>
      </div>
    </div>

  </li>

  <li class="component-list"><!-- Green List -->

    <h6>Small List Green</h6>

    <div class="list-group list-medium list-green list-hover">
      <div class="list-head">
        <h1 class="list-title">List Title</h1>
      </div>
      <div class="list-body">
        <li class="list-item">List Item</li>
        <li class="list-item">List Item</li>
      </div>
    </div>

  </li>


  <li class="component-list"><!-- Medium List -->

    <h6>Large List Blue</h6>

    <div class="list-group list-blue list-hover list-large">
      <div class="list-head">
        <h1 class="list-title">List Title</h1>
      </div>
      <div class="list-body">
        <li class="list-item">List Item<span class="badge-label badge-circle badge-red">33</span></li>
        <li class="list-item">List Item</li>
      </div>
    </div>

  </li>
  <!-- Divider -->
  <hr class="divider">


  <h4>Buttons</h4>
  <li class="component-list">
    <button class="button">Button</button>
    <button class="button button-blue button-small">Button</button>
    <button class="button button-red button-medium">Button</button>
    <button class="button button-red button-medium" disabled>Disabled</button>
    <button class="button button-green  button-circle">Button</button>
    <button class="button button-yellow button-large button-flat">Button</button>
  </li>
  <li class="component-list">
    <button class="button button-blue-clear button-small">Button</button>
    <button class="button button-red-clear button-medium">Button</button>
    <button class="button button-red-clear button-medium" disabled>Disabled</button>
    <button class="button button-green-clear button-circle">Button</button>
    <button class="button button-yellow-clear button-large button-flat">Button</button>
  </li>
  <hr class="divider">


  <h4>Badges</h4>
    <span class="badge-label badge-square badge-blue">33</span>
    <span class="badge-label badge-square badge-red">33</span>
    <span class="badge-label badge-circle badge-green">33</span>
    <span class="badge-label badge-circle badge-yellow">33</span>
    <span class="badge-label badge-square">33</span>
  <hr class="divider">


  <h4>Icons Group</h4>

  <button class="button"><i class="fa fa-heart icon-large" aria-hidden="true"></i></button>

  <ul class="icons-group">
    <li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
    <li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
  </ul>

  <hr class="divider">

  <h4>Notifications</h4>
  <!-- Success -->
  <div class="alert alert-green">
    <i class="fa fa-thumbs-o-up icon-large alert-icon" aria-hidden="true"></i><p class="alert-text">You successfully registred. No you can login</p><button class="button"><i class="material-icons alert-close">clear</i></button>
  </div>

  <!-- Danger -->
  <div class="alert alert-red">
    <i class="fa fa-ban icon-large alert-icon" aria-hidden="true"></i><p class="alert-text">You successfully registred. No you can login</p><button class="button"><i class="material-icons alert-close">clear</i></button>
  </div>

  <!-- Warning -->
  <div class="alert alert-yellow">
    <i class="fa fa-exclamation-triangle icon-large alert-icon" aria-hidden="true"></i><p class="alert-text">You successfully registred. No you can login</p><button class="button"><i class="material-icons alert-close">clear</i></button>
  </div>

  <hr class="divider">

  <!-- Titles  -->
  <h4>Titles</h4>

  <h1 class="title title-large title-hover">This is a title</h1>
  <h1 class="title title-medium">This is a title</h1>
  <h1 class="title title-small">This is a title</h1>

  <h1 class="title title-large title-hover title-blue">This is a title</h1>
  <h1 class="title title-medium title-gray">This is a title</h1>
  <h1 class="title title-small title-red">This is a title</h1>
  <h1 class="title title-small title-yellow">This is a title</h1>
  <h1 class="title title-small title-green">This is a title</h1>

  <hr class="divider">


  <!-- Titles  -->
  <h4>Titles</h4>
  <p class="text text-gray text-small text-medium text-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<hr class="divider">



</div>
