<div class="categories">

  <div @fadeIn class="row">
    <!-- Table  -->
    <table class="table table-hover table-green table-center custom-table">
      <div class="custom-head">
        <mat-icon class="custom-icon">category</mat-icon>
        <h1 class="custom-title">Categories</h1>
        <a class="custom-btn" mat-button [routerLink]="['/add-category']">Create Category</a>
      </div>
      <thead>

      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>JavaScript</td>
          <td><a class="edit" [routerLink]="['/edit-category']">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-category']">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>JavaScript</td>
          <td><a class="edit" [routerLink]="['/edit-category']">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-category']">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>JavaScript</td>
          <td><a class="edit" [routerLink]="['/edit-category']">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-category']">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>JavaScript</td>
          <td><a class="edit" [routerLink]="['/edit-category']">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-category']">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>JavaScript</td>
          <td><a class="edit" [routerLink]="['/edit-category']">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-category']">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>JavaScript</td>
          <td><a class="edit" [routerLink]="['/edit-category']">Edit</a></td>
          <td><a class="delete" [routerLink]="['/delete-category']">Delete</a></td>
        </tr>
        <tr>
      </tbody>
    </table><!-- Table Ends  -->
  </div>
</div>
