<div class="home">
	<div class="row">
		<div class="col-3"><!--Col Starts -->
			<div class="card">
				<!-- Card Header -->
				<div class="card-header">
					<!-- Card User -->
					<div class="user card-user">
							<img class="img img-border img-tiny img-circle user-img" src="/assets/images/profile.jpg" alt="">
							<h1 class="title title-small title-gray title-hover user-name">Hasrat Sabit</h1><br>
							<span class="user-info">Nov 10, 2017</span>
					</div><!-- Card User Ends -->
						<!-- Right Corner Menu -->
						<div class="card-menu">
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item>
									<mat-icon>edit</mat-icon>
									<span>Edit</span>
								</button>
								<button mat-menu-item>
									<mat-icon>delete</mat-icon>
									<span>Delete</span>
								</button>
								<button mat-menu-item>
									<mat-icon>save</mat-icon>
									<span>Save</span>
								</button>
							</mat-menu>
						</div><!-- Right Corner Ends -->
				</div><!-- Card Header Ends -->
				<!-- Card Image -->
				<div class="card-img">
						<img class="img" src="/assets/images/corn.jpg" alt="">
				</div>
				<!-- Card Content -->
				<div class="card-content">
					<h1 class="title title-medium title-hover title-gray card-title">This is the title for the card that we use</h1>
					<p class="text text-gray card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- Card Content Ends-->
				<!-- Card Footer -->
				<div class="card-footer">
					<ul class="icons-group">
						<li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list"><button class="button"><i class="fa fa-eye icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list footer-read"><a href="">Read More</a></li>
					</ul>
				</div><!-- Card Footer Ends -->

			</div><!-- Card Ends -->
		</div><!--Col Ends -->
		<div class="col-3"><!--Col Starts -->
			<div class="card">
				<!-- Card Header -->
				<div class="card-header">
					<!-- Card User -->
					<div class="user card-user">
							<img class="img img-border img-tiny img-circle user-img" src="/assets/images/profile.jpg" alt="">
							<h1 class="title title-small title-gray title-hover user-name">Hasrat Sabit</h1><br>
							<span class="user-info">Nov 10, 2017</span>
					</div><!-- Card User Ends -->
						<!-- Right Corner Menu -->
						<div class="card-menu">
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item>
									<mat-icon>edit</mat-icon>
									<span>Edit</span>
								</button>
								<button mat-menu-item>
									<mat-icon>delete</mat-icon>
									<span>Delete</span>
								</button>
								<button mat-menu-item>
									<mat-icon>save</mat-icon>
									<span>Save</span>
								</button>
							</mat-menu>
						</div><!-- Right Corner Ends -->
				</div><!-- Card Header Ends -->
				<!-- Card Image -->
				<div class="card-img">
						<img class="img" src="/assets/images/corn.jpg" alt="">
				</div>
				<!-- Card Content -->
				<div class="card-content">
					<h1 class="title title-medium title-hover title-gray card-title">This is the title for the card that we use</h1>
					<p class="text text-gray card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- Card Content Ends-->
				<!-- Card Footer -->
				<div class="card-footer">
					<ul class="icons-group">
						<li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list"><button class="button"><i class="fa fa-eye icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list footer-read"><a href="">Read More</a></li>
					</ul>
				</div><!-- Card Footer Ends -->

			</div><!-- Card Ends -->
		</div><!--Col Ends -->
		<div class="col-3"><!--Col Starts -->
			<div class="card">
				<!-- Card Header -->
				<div class="card-header">
					<!-- Card User -->
					<div class="user card-user">
							<img class="img img-border img-tiny img-circle user-img" src="/assets/images/profile.jpg" alt="">
							<h1 class="title title-small title-gray title-hover user-name">Hasrat Sabit</h1><br>
							<span class="user-info">Nov 10, 2017</span>
					</div><!-- Card User Ends -->
						<!-- Right Corner Menu -->
						<div class="card-menu">
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item>
									<mat-icon>edit</mat-icon>
									<span>Edit</span>
								</button>
								<button mat-menu-item>
									<mat-icon>delete</mat-icon>
									<span>Delete</span>
								</button>
								<button mat-menu-item>
									<mat-icon>save</mat-icon>
									<span>Save</span>
								</button>
							</mat-menu>
						</div><!-- Right Corner Ends -->
				</div><!-- Card Header Ends -->
				<!-- Card Image -->
				<div class="card-img">
						<img class="img" src="/assets/images/corn.jpg" alt="">
				</div>
				<!-- Card Content -->
				<div class="card-content">
					<h1 class="title title-medium title-hover title-gray card-title">This is the title for the card that we use</h1>
					<p class="text text-gray card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- Card Content Ends-->
				<!-- Card Footer -->
				<div class="card-footer">
					<ul class="icons-group">
						<li class="icons-list"><button class="button"><i class="fa fa-heart icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list"><button class="button"><i class="fa fa-share-alt icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list"><button class="button"><i class="fa fa-eye icon-small" aria-hidden="true"></i></button><span class="icon-data">33</span></li>
						<li class="icons-list footer-read"><a href="">Read More</a></li>
					</ul>
				</div><!-- Card Footer Ends -->

			</div><!-- Card Ends -->
		</div><!--Col Ends -->
	</div>
</div>

<!-- Footer Nav -->
<footer class="footer">

</footer><!-- Footer Ends-->
