
<div class="row"><!-- Row -->


  <div class="col-2"><!-- Col -->

    <!-- Blog Card  -->
    <div class="blog-card">

      <!-- Hero  -->
      <div class="blog-card__hero">
        <span class="blog-card__category">Angular</span>
        <img class="blog-card__img img img-round" src="./assets/images/read-more.jpg" alt="">
      </div><!-- Hero Ends  -->

      <!-- Body  -->
      <div class="blog-card__body">
        <h1 class="blog-card__title">
          larn functional programming with practical examples
        </h1>
        <p class="blog-card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Saepe, quos illo adipisci officiis corporis
           odio architecto quam, pariatur nam provident 
           suscipit vitae molestiae. Accusantium unde 
           illum assumenda ullam sunt pariatur.
        </p>
      </div><!-- Body Ends  -->

      <!-- Footer  -->
      <div class="blog-card__footer">
        <a class="blog-card__link" href="">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__button button button-small button-round button-green-clear" [routerLink]="['/read-more']">
            Read More
          </a>
      </div><!-- Footer Ends  -->

    </div><!-- Blog Card Ends  -->

  </div><!-- Col Ends  -->

  <div class="col-2"><!-- Col -->

    <!-- Blog Card  -->
    <div class="blog-card">

      <!-- Hero  -->
      <div class="blog-card__hero">
        <span class="blog-card__category">Angular</span>
        <img class="blog-card__img img img-round" src="./assets/images/read-more.jpg" alt="">
      </div><!-- Hero Ends  -->

      <!-- Body  -->
      <div class="blog-card__body">
        <h1 class="blog-card__title">
          larn functional programming with practical examples
        </h1>
        <p class="blog-card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing 
          elit. Saepe, quos illo adipisci officiis corporis
           odio architecto quam, pariatur nam provident 
           suscipit vitae molestiae. Accusantium unde 
           illum assumenda ullam sunt pariatur.
        </p>
      </div><!-- Body Ends  -->

      <!-- Footer  -->
      <div class="blog-card__footer">
        <a class="blog-card__link" href="">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__link" href="">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="blog-card__data">43</span>
          </a>
          <a class="blog-card__button button button-small button-round button-green-clear" href="">
            Read More
          </a>
      </div><!-- Footer Ends  -->

    </div><!-- Blog Card Ends  -->

  </div><!-- Col Ends  -->


</div><!-- Row Ends -->
