
<div [@toggleModal]="addCategoryIsLoaded ? 'expanded' : 'collapsed'" class="modal-wrapper">
    <div class="col-3 modal-wrapper__modal">
      <div  class="modal-box modal-box--shadow">

        <!-- Modal Header -->
        <div class="modal-box-header">
          <h1 class="modal-box-header__title">Add Categories</h1>
          <button (click)="toggleAddCategoryForm()" class="modal-buttons modal-box-header__close">
            <mat-icon>clear</mat-icon>
          </button>
        </div><!-- Modal Header Ends -->


        <!-- Success or Error Message -->
        <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
          <div [ngClass]="alertMessageClass">
            <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
            <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
            <p class="alert-text">{{ alertMessage }}</p>
          </div>
        </div><!-- Success or Error Message Ends -->
      
        <!-- Form -->
        <form [formGroup]="form" (submit)="onCategorySubmit()">

              <!-- Modal Form -->
              <div class="modal-box-form">
                  <!-- Category Field -->
                  <mat-form-field class="modal-box-form__inputs">
                    <!-- Category Input -->
                    <input
                      matInput
                      type="text"
                      placeholder="Add Category"
                      formControlName="category"
                      name="category"
                      required>
                      <mat-error *ngIf="form.controls.category.errors?.required">The category field is required.</mat-error>
                      <mat-error *ngIf="form.controls.category.errors?.minlength">The category can not be less than 3 character</mat-error>
                      <mat-error *ngIf="form.controls.category.errors?.maxlength">The category can not be more than 15 character</mat-error>
                      <mat-error *ngIf="form.controls.category.errors?.validCategory">The category cannot contain special characters.</mat-error><!-- Category Input Ends -->
                  </mat-form-field><!-- Category Field Ends -->
              </div><!-- Modal Form Ends -->

              <!-- Modal Buttons -->
              <div class="modal-box-buttons">
                <button [disabled]="!form.valid || 
                                    !validCategory || 
                                    processing " 
                        type="submit" 
                        class="modal-buttons modal-box-buttons__buttons">
                        Create Category
                </button>
              </div><!-- Modal Buttons Ends-->
              
        </form><!-- Form Ends -->

    </div>
  </div>
</div>

