
<div @fadeIn class="post-page">

    <!-- Large Hero -->
    <div class="large-hero">

        <!-- Image -->
        <div class="large-hero__img">
            <img src="{{blogService.domain}}/{{blog.imagePath}}" alt="">
        </div><!-- Ends -->

        <!-- Title  -->
        <div class="large-hero__content">

            <h1 class="content-title"> {{ blog.title }} </h1> 
            
            <div class="content-date"> {{ blog.date | date: 'MMMM dd, yyyy'}} </div>
            <button (click)="goBack()" class="content-button button button-medium button-round button-red">Go Back</button> 
        
        </div><!-- Title Ends -->

    </div><!-- Large Hero Ends-->

    <!-- Body -->
    <div class="body">

        <!-- Body Test -->
        <div class="body__text">
            <p>{{ blog.body}}</p>
        </div><!-- Body Text Ends -->

        <!-- Media -->
        <div class="media">

           <a class="media__list" href="">
               <i class="fa fa-heart" aria-hidden="true"></i>
                Like
               <span class="media__data">{{ blog.likes }}</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-comment" aria-hidden="true"></i>
                    Comments
                <span class="media__data">43</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                Share
                <span class="media__data">43</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Viewed
                <span class="media__data">43</span>
            </a>
        </div><!-- Media Ends -->

        <!-- Author  -->
        <div class="post-author author">
    
            <img class="author__img img img-small img-circle" src="./assets/images/profile.jpg" alt="">
            <h1 class="author__name">{{ blog.author }}</h1><br>
            <h2 class="author__title">Full Stack Developer</h2>
        
            <!-- Social Media  -->
            <ul class="author__social-media">
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link facebook" href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            </ul><!-- Social Media Ends  -->
        
        </div><!-- Author  Ends -->

        <!-- Loadd Button -->
        <div class="see-comments">
            <button (click)="loadAllComments()" class="button button-medium button-default button-round">
                <span *ngIf="!allCommentsLoaded">Load Comments</span>
                <span *ngIf="allCommentsLoaded">Hide Comments</span>
            </button>
        </div><!-- Load Button Ends -->

        <!-- Comments -->
        <div [@expandCollapse]="allCommentsLoaded ? 'expanded' : 'collapsed'" class="post-comment">

            <!-- Tab Row  -->
            <div class="post-comment__tabs tab-row"> 
                <li class="tab-row__list">
                    <button (click)="loadAddNewComment()" class="tab-row__button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span *ngIf="!addNewCommentIsLoaded">
                            Post Comment
                        </span>
                        <span *ngIf="addNewCommentIsLoaded">
                            Cancel Comment
                        </span>
                    </button>
                </li>
                <li class="tab-row__list">
                    <button class="tab-row__button">
                        Most Helpful
                    </button>
                </li>
                <li class="tab-row__list">
                    <button class="tab-row__button">
                        Most Recent
                    </button>
                </li>
            </div>
            <!-- Tab Row  Ends -->

            <!-- Reply Box -->
            <div [@expandCollapse]="addNewCommentIsLoaded ? 'expanded' : 'collapsed'" class="post-comment__add-comment comment-textarea">
                <!-- Form -->
                <form>
                    <!-- Textarea -->
                    <mat-form-field class="input">
                        <textarea matInput placeholder="Leave comment here"></textarea>
                    </mat-form-field><!-- Textarea Ends -->
                    <!-- Buttons-->
                    <div class="comment-textarea__buttons">
                        <button (click)="loadAddNewComment()" class="button button-medium button-default button-round">
                            Cancel
                        </button>
                        <button type="submit" class="button button-medium button-round button-green">
                            Submit
                        </button>
                    </div><!-- Buttons End -->
                </form><!-- Comment Form Ends -->
            </div><!-- Reply Box Ends-->

            <!-- Single Comment-->
            <div class="comment">

                <!-- user -->
                <div class="post-comment__user-comment comment-user">
                    <img class="comment-user__img img img-circle img-small img-border" src="./assets/images/profile.jpg" alt="">
                    <h1 class="comment-user__name">Hasrat Sabit</h1><br>
                    <span class="comment-user__date">Jan 09, 2018</span>
                </div><!-- user Ends -->
                
                <!-- Text -->
                <div class="comment-text">
                    <p class="comment-text__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Laudantium id sed consectetur autem dolor nemo culpa aspernatur 
                    in est quis quam distinctio rem eius officiis doloribus repellat 
                    harum, asperiores deserunt!</p>
                </div><!-- Text Ends -->
                
                <!-- Footer -->
                <div class="comment-footer">
                
                    <button class="comment-footer__button">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    15
                    </button>
                
                    <button class="comment-footer__button">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    15
                    </button>
                
                    <button (click)="loadAddReply()" class="comment-footer__button">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                        15
                    </button>
                
                    <button (click)="loadAllReplies()" class="comment-footer__button">
                        <span *ngIf="allRepliesLoaded">Hide Replies</span>
                        <span *ngIf="!allRepliesLoaded">Show Replies</span>
                    </button>
                    <button class="comment-footer__button">Edit</button>
                    <button class="comment-footer__button">Delete</button>
                
                </div><!-- Footer Ends -->

                <!-- Reply Box -->
                <div [@expandCollapse]="addReplyIsLoaded ? 'expanded' : 'collapsed'" class="comment-textarea">
                    <!-- Form -->
                    <form>
                    <!-- Textarea -->
                    <mat-form-field class="input">
                        <textarea matInput placeholder="Reply to comment"></textarea>
                    </mat-form-field><!-- Textarea Ends -->
                    <!-- Buttons-->
                    <div class="comment-textarea__buttons">
                        <button (click)="loadAddReply()" class="button button-medium button-default button-round">
                            Cancel
                        </button>
                        <button type="submit" class="button button-medium button-round button-green">
                            Submit
                        </button>
                    </div><!-- Buttons End -->
                    </form><!-- Comment Form Ends -->
                </div><!-- Reply Box Ends-->
                
                <!-- Replied Comments -->
                <div [@expandCollapse]="allRepliesLoaded ? 'expanded' : 'collapsed'" class="comment-reply">
                
                    <!-- user -->
                    <div class="comment-user">
                    <img class="comment-user__img img img-circle img-small img-border" src="./assets/images/profile.jpg" alt="">
                    <h1 class="comment-user__name">Hasrat Sabit</h1><br>
                    <span class="comment-user__date">Jan 09, 2018</span>
                    </div><!-- user Ends -->
                
                    <!-- Text -->
                    <div class="comment-text">
                    <p class="comment-text__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Laudantium id sed consectetur autem dolor nemo culpa aspernatur 
                        in est quis quam distinctio rem eius officiis doloribus repellat 
                        harum, asperiores deserunt!</p>
                    </div><!-- Text Ends -->
                
                </div><!-- Replied Comments Ends -->
                
            </div><!-- Comment Ends -->


        </div>  <!-- Comments Section End -->

    </div><!-- Body Ends -->

</div><!-- Post Page Ends  -->