
<div @fadeIn class="post-page">



    <!-- Large Hero -->
    <div class="large-hero">

        <!-- Image -->
        <div class="large-hero__img">
            <img src="{{authService.domain}}/{{blog.imagePath}}" alt="">
        </div><!-- Ends -->

        <!-- Title  -->
        <div class="large-hero__content">

            <h1 class="content-title"> {{ blog.title }} </h1> 
            
            <div class="content-date"> {{ blog.date | date: 'MMMM dd, yyyy'}} </div>
            <button (click)="goBack()" class="content-button button button-medium button-round button-red">Go Back</button> 
        
        </div><!-- Title Ends -->

    </div><!-- Large Hero Ends-->





    <!-- Body -->
    <div class="body">



        <!-- Body Text -->
        <div class="body__text">
            <p>{{ blog.body}}</p>
        </div><!-- Body Text Ends -->




        <!-- Media -->
        <div class="media">

           <a [class.blogFavorite]="blogLiked" (click)="onLikeBlog(blog._id)" class="media__list">
               <i class="fa fa-heart" aria-hidden="true"></i>
                Like
               <span class="media__data">{{ blog.likes }}</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-comment" aria-hidden="true"></i>
                    Comments
                <span class="media__data">0</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                Share
                <span class="media__data"> {{ blog.shareCounter }}</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Viewed
                <span class="media__data"> {{ blog.viewCounter }}</span>
            </a>
        </div><!-- Media Ends -->



        <!-- Author  -->
        <div class="post-author author">
    
            <img class="author__img img img-small img-circle" src="./assets/images/profile.jpg" alt="">
            <h1 class="author__name">{{ blog.author }}</h1><br>
            <h2 class="author__title">Full Stack Developer</h2>
        
            <!-- Social Media  -->
            <ul class="author__social-media">
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link facebook" href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            </ul><!-- Social Media Ends  -->
        
        </div><!-- Author  Ends -->




        <!-- See Comments Button -->
        <div class="see-comments">
            <button (click)="loadAllComments()" class="button button-medium button-default button-round">
                <span *ngIf="!allCommentsLoaded">Load Comments</span>
                <span *ngIf="allCommentsLoaded">Hide Comments</span>
            </button>
        </div><!-- Load Button Ends -->





        <!-- Comments -->
        <div [@expandCollapse]="allCommentsLoaded ? 'expanded' : 'collapsed'" class="post-comment">



            <!-- Tab Row  -->
            <div class="post-comment__tabs tab-row"> 
                <li class="tab-row__list">
                    <button (click)="loadAddNewComment()" class="tab-row__button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span *ngIf="!addNewCommentIsLoaded">
                            Post Comment
                        </span>
                        <span *ngIf="addNewCommentIsLoaded">
                            Cancel Comment
                        </span>
                    </button>
                </li>
                <li class="tab-row__list">
                    <button class="tab-row__button">
                        Most Helpful
                    </button>
                </li>
                <li class="tab-row__list">
                    <button class="tab-row__button">
                        Most Recent
                    </button>
                </li>
            </div>
            <!-- Tab Row  Ends -->



            <!-- Success or Error Message -->
            <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
                <div [ngClass]="alertMessageClass">
                    <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
                    <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
                    <p class="alert-text">{{ alertMessage }}</p>
                </div>
            </div><!-- Success or Error Message Ends -->




            <!-- Add Comment Box -->
            <div [@expandCollapse]="addNewCommentIsLoaded ? 'expanded' : 'collapsed'" class="post-comment__add-comment comment-textarea">

                <!-- Form -->
                <form [formGroup]="commentForm" (submit)="onPostComment(blog._id)">
                    <!-- Textarea -->
                    <mat-form-field class="input">
                        <textarea (blur)="askForLogin()" name="comment" formControlName="comment" matInput placeholder="Leave comment here"></textarea>
                        <mat-error *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors?.required">
                            The comment field is required.
                        </mat-error>
                        <mat-error *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors?.maxlength">
                            The comment must not exceed 2000 characters.
                        </mat-error>
                        <mat-error *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors?.minlength">
                            The comment must be at least 3 characters.
                        </mat-error>
                    </mat-form-field><!-- Textarea Ends -->
                    <!-- Buttons-->
                    <div class="comment-textarea__buttons">
                        <button [disabled]="processing" (click)="loadAddNewComment()" class="button button-medium button-default button-round">
                            Cancel
                        </button>
                        <button [disabled]="processing || !commentForm.valid" type="submit" class="button button-medium button-round button-green">
                            Submit
                        </button>
                    </div><!-- Buttons End -->
                </form><!-- Comment Form Ends -->
            </div><!-- Reply Box Ends-->




            <!-- All Comments -->
            <div class="post-comment__all-comments">


                <!-- Single Comment-->
                <div *ngFor="let comment of blog.comments" class="post-comment__single-comment comment">

                    <!-- user -->
                    <div class="post-comment__user-comment comment-user">
                        <img class="comment-user__img img img-circle img-tiny img-border" src="./assets/images/profile.jpg" alt="">
                        <h1 class="comment-user__name">{{ comment.authorName }}</h1><br>
                        <span class="comment-user__date">{{ comment.date | date: 'MMM dd, yyyy' }}</span>
                    </div><!-- user Ends -->
                    

                    <!-- Text -->
                    <div class="comment-text">
                        <p class="comment-text__para">{{ comment.comment }}</p>
                    </div><!-- Text Ends -->
                    

                    <!-- Footer -->
                    <div class="comment-footer">
                    
                        <button (click)="likeComment(comment._id)" class="comment-footer__button">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        {{ comment.likes }}
                        </button>
                    
                        <button (click)="dislikeComment(comment._id)" class="comment-footer__button">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        {{ comment.dislikes }}
                        </button>
                    
                        <button (click)="loadAddReply(comment._id)" class="comment-footer__button">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                            {{ comment.replies.length }}
                        </button>
                    
                        <!-- *ngIf="comment.replies.indexOf(comment.replies._id) > -1" -->
                        <button  (click)="loadAllReplies(comment._id)" class="comment-footer__button">
                            <span *ngIf="this.allRepliesArray.indexOf(comment._id) > -1">Hide Replies</span>
                            <span *ngIf="this.allRepliesArray.indexOf(comment._id) === -1">Show Replies</span>
                        </button>
                        <div class="comment-footer__change-btns">
                            <button (click)="toggleEditComment(comment._id)" *ngIf="authorizedUsername === comment.authorUsername" class="comment-footer__button">Edit</button>
                            <button (click)="toggleDeleteComment(comment._id)" *ngIf="authorizedUsername === comment.authorUsername" class="comment-footer__button">Delete</button>
                        </div>
                    
                    </div><!-- Footer Ends -->
                    

                    <!-- Edit Comment Box -->
                    <div [@expandCollapse]="editArray.indexOf(comment._id) > -1 ? 'expanded' : 'collapsed'" class="post-comment__add-comment comment-textarea">

                        <!-- Form -->
                        <form [formGroup]="editCommentForm" (submit)="onEditComment()">
                            <!-- Textarea -->
                            <mat-form-field class="input">
                                <textarea  
                                    name="editComment" 
                                    [(ngModel)]="oneComment" 
                                    formControlName="editComment" 
                                    matInput 
                                    placeholder="Leave comment here">
                                </textarea>
                                <mat-error *ngIf="editCommentForm.controls.editComment.dirty && editCommentForm.controls.editComment.errors?.required">
                                    The comment field is required.
                                </mat-error>
                                <mat-error *ngIf="editCommentForm.controls.editComment.dirty && editCommentForm.controls.editComment.errors?.maxlength">
                                    The comment must not exceed 2000 characters.
                                </mat-error>
                                <mat-error *ngIf="editCommentForm.controls.editComment.dirty && editCommentForm.controls.editComment.errors?.minlength">
                                    The comment must be at least 3 characters.
                                </mat-error>
                            </mat-form-field><!-- Textarea Ends -->
                            <!-- Buttons-->
                            <div class="comment-textarea__buttons">
                                <button [disabled]="processing || !editCommentForm.valid" type="submit" class="button button-medium button-round button-green">
                                    Submit
                                </button>
                            </div><!-- Buttons End -->
                        </form><!-- Comment Form Ends -->
                        <button [disabled]="processing" (click)="toggleEditComment(comment._id)" class="button button-medium button-default button-round">
                            Cancel
                        </button>
                    </div><!-- Edit Comment Ends-->


                    <!-- Reply Box -->
                    <div [@expandCollapse]="addReplyArray.indexOf(comment._id) > -1 ? 'expanded' : 'collapsed'" class="comment-textarea">
                        <!-- Form -->
                        <form>
                        <!-- Textarea -->
                        <mat-form-field class="input">
                            <textarea matInput placeholder="Reply to comment"></textarea>
                        </mat-form-field><!-- Textarea Ends -->
                        <!-- Buttons-->
                        <div class="comment-textarea__buttons">
                            <button (click)="loadAddReply(comment._id)" class="button button-medium button-default button-round">
                                Cancel
                            </button>
                            <button type="submit" class="button button-medium button-round button-green">
                                Submit
                            </button>
                        </div><!-- Buttons End -->
                        </form><!-- Comment Form Ends -->
                    </div><!-- Reply Box Ends-->

                    
                    <!-- Replied Comments -->
                    <div [@expandCollapse]="allRepliesArray.indexOf(comment._id) > -1 ? 'expanded' : 'collapsed'" class="comment-reply">
                    
                        <!-- user -->
                        <div class="comment-user">
                        <img class="comment-user__img img img-circle img-tiny img-border" src="./assets/images/profile.jpg" alt="">
                        <h1 class="comment-user__name">Hasrat Sabit</h1><br>
                        <span class="comment-user__date">Jan 09, 2018</span>
                        </div><!-- user Ends -->
                    
                        <!-- Text -->
                        <div class="comment-text">
                        <p class="comment-text__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Laudantium id sed consectetur autem dolor nemo culpa aspernatur 
                            in est quis quam distinctio rem eius officiis doloribus repellat 
                            harum, asperiores deserunt!</p>
                        </div><!-- Text Ends -->

                        <!-- Footer -->
                        <div class="comment-footer">

                            <div class="comment-footer__change-btns">
                                <button *ngIf="authorizedUsername === comment.authorUsername" class="comment-footer__button">Edit</button>
                                <button *ngIf="authorizedUsername === comment.authorUsername" class="comment-footer__button">Delete</button>
                            </div>
                        
                        </div><!-- Footer Ends -->
                    
                    </div><!-- Replied Comments Ends -->
                    
                </div><!-- Comment Ends -->


            </div><!-- All Comments End -->

        </div>  <!-- Comments Section End -->





    </div><!-- Body Ends -->

</div><!-- Post Page Ends  -->