
<div @fadeIn class="post-page">



    <!-- Large Hero -->
    <div class="large-hero">

        <!-- Image -->
        <div class="large-hero__img">
            <img src="{{authService.domain}}/{{blog.imagePath}}" alt="">
        </div><!-- Ends -->

        <!-- Title  -->
        <div class="large-hero__content">

            <h1 class="content-title"> {{ blog.title }} </h1> 
            
            <div class="content-date"> {{ blog.date | date: 'MMMM dd, yyyy'}} </div>
            <button (click)="goBack()" class="content-button button button-medium button-round button-red">Go Back</button> 
        
        </div><!-- Title Ends -->

    </div><!-- Large Hero Ends-->





    <!-- Body -->
    <div class="body">



        <!-- Body Text -->
        <div class="body__text">
            <p [innerHTML]="blog.body"></p>
        </div><!-- Body Text Ends -->




        <!-- Media -->
        <div class="media">
           <a [class.blogFavorite]="blogLiked" (click)="onLikeBlog(blog._id)" class="media__list">
               <i class="fa fa-heart" aria-hidden="true"></i>
                Like
               <span class="media__data">{{ blog.likes }}</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-comment" aria-hidden="true"></i>
                    Comments
                <span class="media__data">{{ commentsLength }} </span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                Share
                <span class="media__data"> {{ blog.shareCounter }}</span>
            </a>
            <a class="media__list" href="">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Viewed
                <span class="media__data"> {{ blog.viewCounter }}</span>
            </a>
        </div><!-- Media Ends -->



        <!-- Author  -->
        <div class="post-author author">
            <div class="author__img user-img user-img--sm">
                <!-- <img class="user-img__img" src="/assets/images/profile.jpg" alt=""> -->
            </div>
            
            <h1 class="author__name">{{ blog.author }}</h1><br>
            <h2 class="author__title">Full Stack Developer</h2>
        
            <!-- Social Media  -->
            <ul class="author__social-media">
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link facebook" href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </li>
            <li class="author__list">
                <a class="author__link" href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            </ul><!-- Social Media Ends  -->
        
        </div><!-- Author  Ends -->




        <!-- See Comments Button -->
        <div class="see-comments">
            <button (click)="loadAllComments()" class="button button-small button-default">
                <span *ngIf="!allCommentsLoaded">Load Comments</span>
                <span *ngIf="allCommentsLoaded">Hide Comments</span>
            </button>
        </div><!-- Load Button Ends -->





        <!-- Comments -->
        <div [@expandCollapse]="allCommentsLoaded ? 'expanded' : 'collapsed'" class="post-comment">



            <!-- Tab Row  -->
            <div class="post-comment__tabs tab-row"> 
                <li class="tab-row__list">
                    <button (click)="loadAddNewComment()" class="tab-row__button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span *ngIf="!addNewCommentIsLoaded">
                            Post Comment
                        </span>
                        <span *ngIf="addNewCommentIsLoaded">
                            Cancel Comment
                        </span>
                    </button>
                </li>
                <li class="tab-row__list">
                    <button class="tab-row__button">
                        Most Helpful
                    </button>
                </li>
                <li class="tab-row__list">
                    <button class="tab-row__button">
                        Most Recent
                    </button>
                </li>
            </div>
            <!-- Tab Row  Ends -->



            <!-- Add Comment Box -->
            <div [@expandCollapse]="addNewCommentIsLoaded ? 'expanded' : 'collapsed'" class="post-comment__add-comment comment-textarea">

                <!-- Form -->
                <form [formGroup]="commentForm" (submit)="onPostComment(blog._id)">
                    <!-- Textarea -->
                    <mat-form-field class="input">
                        <textarea name="comment" formControlName="comment" matInput placeholder="Leave comment here"></textarea>
                        <mat-error *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors?.required">
                            The comment field is required.
                        </mat-error>
                        <mat-error *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors?.maxlength">
                            The comment must not exceed 2000 characters.
                        </mat-error>
                        <mat-error *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors?.minlength">
                            The comment must be at least 3 characters.
                        </mat-error>
                    </mat-form-field><!-- Textarea Ends -->
                    <!-- Buttons-->
                    <div class="comment-textarea__buttons">
                        <button [disabled]="processing" (click)="loadAddNewComment()" class="button button-small button-default">
                            Cancel
                        </button>
                        <button [disabled]="processing || !commentForm.valid" type="submit" class="button button-small button-blue">
                            Submit
                        </button>
                    </div><!-- Buttons End -->
                </form><!-- Comment Form Ends -->
            </div><!-- Reply Box Ends-->




            <!-- All Comments -->
            <div class="post-comment__all-comments">


                <!-- Single Comment-->
                <div @fadeIn *ngFor="let comment of blog.comments" class="post-comment__single-comment comment">
                   
                   <!-- Delete Alert-->
                    <div @fadeIn  *ngIf="deleteArray.indexOf(comment._id) > -1" class="post-comment__inline-modal inline-modal">
                        <p class="inline-modal__text">Are you sure you want to delete your comment?</p>
                        <button [disabled]="processing" (click)="onDeleteComment()" class="inline-modal__button">Delete</button>
                        <button [disabled]="processing" (click)="toggleDeleteComment(comment._id)" class="inline-modal__button">Cancel</button>
                    </div>
                    
                      
                    <!-- user -->
                    <div class="post-comment__user-comment comment-user">
                        <div [routerLink]="['/profile', comment.authorUsername]" class="comment-user__img user-img user-img--sm">
                            <img class="user-img__img" src="{{ authService.domain }}/{{ comment.image }}" alt="">
                        </div>
                        <h1 [routerLink]="['/profile', comment.authorUsername]" class="comment-user__name">{{ comment.authorName }}</h1><br>
                    </div><!-- user Ends -->
                    

                    <!-- Text -->
                    <div class="comment-text">
                        <p class="comment-text__para">{{ comment.comment }}</p>
                    </div><!-- Text Ends -->
                    

                    <!-- Footer -->
                    <div class="comment-footer">
                    
                        <button (click)="likeComment(comment._id)" class="comment-footer__button">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        {{ comment.likes }}
                        </button>
                    
                        <button (click)="dislikeComment(comment._id)" class="comment-footer__button">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        {{ comment.dislikes }}
                        </button>
                    
                        <button (click)="loadAddReply(comment._id)" class="comment-footer__button">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                            {{ comment.replies.length }}
                        </button>
                    
                        <!-- *ngIf="comment.replies.indexOf(comment.replies._id) > -1" -->
                        <button *ngIf="comment.replies.length" (click)="loadAllReplies(comment._id)" class="comment-footer__button">
                            <span *ngIf="this.allRepliesArray.indexOf(comment._id) > -1">Hide Replies</span>
                            <span *ngIf="this.allRepliesArray.indexOf(comment._id) === -1">Show Replies</span>
                        </button>

                        <span class="comment-footer__date">{{ comment.date | date: 'MMM dd, yyyy' }}</span>
                    
                    </div><!-- Footer Ends -->

                    <!-- Comment Select Menu -->
                    <div *ngIf="authorizedUsername === comment.authorUsername" class="comment-select">
                        <button class="comment-select__button" [matMenuTriggerFor]="replyCtrl">
                            <mat-icon class="comment-select__more" >more_vert</mat-icon>
                        </button>
                        <mat-menu #replyCtrl="matMenu">
                            <button mat-menu-item (click)="toggleEditComment(comment._id)">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                            <button mat-menu-item (click)="toggleDeleteComment(comment._id)" >
                                <mat-icon>delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>
                    </div><!-- Comment Select Menu Ends-->

                    <!-- Edit Comment Box -->
                    <div [@expandCollapse]="editArray.indexOf(comment._id) > -1 ? 'expanded' : 'collapsed'" class="post-comment__add-comment comment-textarea">

                        <!-- Form -->
                        <form [formGroup]="editCommentForm" (submit)="onEditComment()">
                            <!-- Textarea -->
                            <mat-form-field class="input">
                                <textarea  
                                    name="editComment" 
                                    [(ngModel)]="oneComment" 
                                    formControlName="editComment" 
                                    matInput 
                                    placeholder="Leave comment here">
                                </textarea>
                                <mat-error *ngIf="editCommentForm.controls.editComment.dirty && editCommentForm.controls.editComment.errors?.required">
                                    The comment field is required.
                                </mat-error>
                                <mat-error *ngIf="editCommentForm.controls.editComment.dirty && editCommentForm.controls.editComment.errors?.maxlength">
                                    The comment must not exceed 2000 characters.
                                </mat-error>
                                <mat-error *ngIf="editCommentForm.controls.editComment.dirty && editCommentForm.controls.editComment.errors?.minlength">
                                    The comment must be at least 3 characters.
                                </mat-error>
                            </mat-form-field><!-- Textarea Ends -->
                            <!-- Buttons-->
                            <div class="comment-textarea__buttons">
                                <button [disabled]="processing || !editCommentForm.valid" type="submit" class="button button-small button-blue">
                                    Submit
                                </button>
                                <button [disabled]="processing" (click)="toggleEditComment(comment._id)" class="button button-small button-default">
                                    Cancel
                                </button>
                            </div><!-- Buttons End -->
                        </form><!-- Comment Form Ends -->
                    </div><!-- Edit Comment Ends-->


                    <!-- Reply Box -->
                    <div [@expandCollapse]="addReplyArray.indexOf(comment._id) > -1 ? 'expanded' : 'collapsed'" class="comment-textarea">
                        <!-- Form -->
                        <form [formGroup]="replyForm" (submit)="onPostReply()">
                        <!-- Textarea -->
                        <mat-form-field class="input">
                            <textarea formControlName="replyComment" matInput placeholder="Reply to comment"></textarea>
                            
                            <mat-error *ngIf="replyForm.controls.replyComment.dirty && replyForm.controls.replyComment.errors?.required">
                                The comment field is required.
                            </mat-error>
                            <mat-error *ngIf="replyForm.controls.replyComment.dirty && replyForm.controls.replyComment.errors?.maxlength">
                                The comment must not exceed 2000 characters.
                            </mat-error>
                            <mat-error *ngIf="replyForm.controls.replyComment.dirty && replyForm.controls.replyComment.errors?.minlength">
                                The comment must be at least 3 characters.
                            </mat-error>

                        </mat-form-field><!-- Textarea Ends -->
                        <!-- Buttons-->
                        <div class="comment-textarea__buttons">
                            <button [disabled]="processing" type="button" (click)="loadAddReply(comment._id)" class="button button-small button-default">
                                Cancel
                            </button>
                            <button [disabled]="!replyForm.valid || processing" type="submit" class="button button-small button-blue">
                                Submit
                            </button>
                        </div><!-- Buttons End -->
                        </form><!-- Comment Form Ends -->
                    </div><!-- Reply Box Ends-->

                    
                    <!-- Replied Comments -->
                    <div *ngFor="let reply of comment.replies" [@expandCollapse]="allRepliesArray.indexOf(comment._id) > -1 ? 'expanded' : 'collapsed'" class="post-comment__single-reply comment-reply">
                    
                        <!-- Delete Reply Alert-->
                        <div @fadeIn  *ngIf="deleteReplyArray.indexOf(reply._id) > -1" class="post-comment__inline-modal inline-modal">
                            <p class="inline-modal__text">Are you sure you want to delete your comment?</p>
                            <button [disabled]="processing" (click)="onDeleteReply()" class="inline-modal__button">Delete</button>
                            <button [disabled]="processing" (click)="toggleDeleteReply(reply._id)" class="inline-modal__button">Cancel</button>
                        </div><!-- Delete Reply Alert Finishes-->

                        <!-- user -->
                        <div class="comment-user">
                            <div [routerLink]="['/profile', comment.authorUsername]" class="comment-user__img user-img user-img--sm">
                                <img class="user-img__img" src="{{ authService.domain }}/{{ reply.image }}" alt="">
                            </div>
                            <h1 [routerLink]="['/profile', comment.authorUsername]" class="comment-user__name">{{ reply.authorName }}</h1><br>
                        </div><!-- user Ends -->
                    
                        <!-- Text -->
                        <div class="comment-text">
                            <p class="comment-text__para">{{ reply.comment }}</p>
                        </div><!-- Text Ends -->
                        
                        <!-- Comment Select Menu -->
                        <div *ngIf="authorizedUsername === reply.authorUsername" class="comment-select">
                            <button class="comment-select__button" [matMenuTriggerFor]="replyCtrl">
                                <mat-icon class="comment-select__more" >more_vert</mat-icon>
                            </button>
                            <mat-menu #replyCtrl="matMenu">
                                <button (click)="toggleDeleteReply(reply._id, comment._id)" mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
                            </mat-menu>
                        </div><!-- Comment Select Menu Ends-->

                        <div class="comment-footer">
                            <span class="comment-footer__date">{{ reply.date | date: 'MMM dd, yyyy' }}</span>
                        </div>
                    
                    </div><!-- Replied Comments Ends -->
                    
                </div><!-- Comment Ends -->


            </div><!-- All Comments End -->

        </div>  <!-- Comments Section End -->

    </div><!-- Body Ends -->

</div><!-- Post Page Ends  -->


<!-- If the user is not logged in it will be displayed -->
<div [@toggleModal]="userIsNotLoggedIn ? 'expanded' : 'collapsed'" class="modal-wrapper">
    <div class="modal-wrapper__modal col-3">
        <div class="plate plate--lg-shadow">

        <!-- Header -->
        <div class="plate__header">
            <h1 class="plate__title">Login</h1>
            <div (click)="toogleUserLogin()" class="plate__close">
            <mat-icon>clear</mat-icon>
            </div>
        </div><!-- Header -->

        <!-- Body -->
        <div class="plate__body  plate--body-center">
            <h1 class="plate__message">You must be login to continue.</h1>
        </div><!-- Body Ends -->

        <!-- Footer -->
        <div class="plate__footer">
            <button [routerLink]="['/login']" class="plate__button button button-blue button-small">Login</button>
            <button [routerLink]="['/register']" class="plate__button button button-default button-small">Create Account</button>
        </div><!-- Footer Ends -->

        </div>
    </div>
</div>