
<div class="profile">


    <app-personal (reloadPage)="onReload($event)" [personal]="personal" [url]="usernameUrl" ></app-personal>

    <!-- <app-objective></app-objective> -->

    <app-about (reloadPage)="onReload($event)" [url]="usernameUrl" [profile]="abouts"></app-about> 

    <!-- Skills and Tools Row -->
    <div class="row">

        <app-skill (reloadPage)="onReload($event)" [skills]="skills" [url]="usernameUrl"></app-skill>

        <app-tool (reloadPage)="onReload($event)" [tools]="tools" [url]="usernameUrl"></app-tool>

    </div><!-- Skills and Tools Row Ends-->


    <app-project (reloadPage)="onReload($event)" [projects]="projects" [url]="usernameUrl"></app-project>

    <!-- <app-experiance></app-experiance>

    <app-education></app-education> -->


    <app-publication></app-publication>



</div><!-- Profile Ends -->