
<div class="profile">


    <!-- Header -->
    <div class="profile-header">
        <img class="profile-header__bg-img" src="./assets/images/profile-bg.jpg" alt="">
        <div class="profile-header__user-info">
            <img class="profile-header__user-img img img-circle" src="./assets/images/profile.jpg" alt="">
            <h1 class="profile-header__user-name">Hasrat Sabit</h1>
            <h1 class="profile-header__user-title">Full Stack Developer</h1>
            <h3 class="profile-header__user-location">Alexandria, VA</h3>
            <div class="profile-header__social-media">
                <a href="https://twitter.com/HasratSabit"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
            <button *ngIf="!headerFormIsLoaded" (click)="toggleHeaderForm()" class="profile-header__update-btn blue-btn blue-btn-sm">update</button>
        </div>

        <!-- Header Form -->
        <div *ngIf="headerFormIsLoaded" class="profile-header__form inline-form">
            <form>
                <mat-form-field class="inline-form__input">
                    <input name="title"  matInput type="text" placeholder="Title" #title maxlength="100" required>
                    <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
                <mat-form-field class="inline-form__input">
                    <input name="location"  matInput type="text" placeholder="Location" #location maxlength="100" required>
                    <mat-hint align="end">{{location.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
                <mat-form-field class="inline-form__input">
                    <input name="twitter"  matInput type="text" placeholder="Twitter" #twitter maxlength="100" required>
                </mat-form-field>
                <!-- <mat-form-field class="inline-form__input">
                    <input name="instagram"  matInput type="text" placeholder="Instagram" #instagram maxlength="100" required>
                </mat-form-field> -->
                <mat-form-field class="inline-form__input">
                    <input name="linkedin"  matInput type="text" placeholder="Linkedin" #linkedin maxlength="100" required>
                </mat-form-field>
                <mat-form-field class="inline-form__input">
                    <input name="github"  matInput type="text" placeholder="Github" #github maxlength="100" required>
                </mat-form-field>
                <div class="inline-form__button">
                    <button class="blue-btn blue-btn-sm">Submit</button>
                </div>
            </form>
            <div class="inline-form__button">
                <button (click)="toggleHeaderForm()" class="blue-btn blue-btn-sm">Cancel</button>
            </div>
        </div><!-- Header Form Ends -->


    </div><!-- Header Ends -->

    <!-- Objectives -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">language</mat-icon>
            <h1 class="profile-table__title">Objectives</h1>
            <button *ngIf="!objectiveFormLoaded" (click)="toggleObjectiveForm()" class="profile-table__add-btn">Add Objective</button>
        </div>

        <!-- Objective Form -->
        <div *ngIf="objectiveFormLoaded" class="profile-table__form inline-form">
            <form>
                <mat-form-field class="profile-table__objective-textarea inline-form__input">
                    <textarea name="objective" maxlength="500" matInput placeholder="Objective" #objective required></textarea>
                    <mat-hint align="end">{{objective.value?.length || 0}}/500</mat-hint>
                </mat-form-field>
                <div class="profile-table__objective-button inline-form__button">
                    <button class="blue-btn blue-btn-sm">Submit</button>
                </div>
            </form>
            <div class="profile-table__objective-button inline-form__button">
                <button (click)="toggleObjectiveForm()" class="blue-btn blue-btn-sm">Cancel</button>
            </div>
        </div><!-- Objective Form Ends -->

        <div class="profile-table__row-detail">
            <p class="profile-table__discription">
                Accusantium, ad minus quisquam corporis dolor 
                repudiandae vept dolorum nobis omnis laboriosam? 
                Accusantium, ad minus quisquam corporis dolor 
                repudiandae vept dolorum nobis omnis laboriosam? 
                Accusantium, ad minus quisquam corporis dolor 
                repudiandae vept dolorum nobis omnis laboriosam? 
                Accusantium, ad minus quisquam corporis dolor 
                repudiandae vept dolorum nobis omnis laboriosam? 
            </p>
        </div>
    </div><!-- Objectives End -->   

    <!-- Skills and Tools Row -->
    <div class="row">

        <!-- Skill Col -->
        <div class="col-2">

            <!-- Skills -->
            <div class="profile-table">
                <!-- Skills Header-->
                <div class="profile-table__header">
                    <mat-icon class="profile-table__icon">code</mat-icon>
                    <h1 class="profile-table__title">Programming Skills</h1>
                    <button *ngIf="!skillFormIsLoaded" (click)="toggleSkillForm()"  class="profile-table__add-btn">Add Skill</button>
                </div><!-- Skills Header End-->

                <!-- Skill Form -->
                <div *ngIf="skillFormIsLoaded" class="profile-table__form inline-form">
                    <form>

                        <!-- Language  -->
                        <mat-form-field class="inline-form__input">
                            <input name="language" maxlength="100" matInput placeholder="Skill" #language required>
                            <mat-hint align="end">{{language.value?.length || 0}}/100</mat-hint>
                        </mat-form-field><!-- Language Ends -->
                        
                        <!-- Level  -->
                        <mat-form-field  class="inline-form__input">
                            <mat-select placeholder="Choose Level">
                                <mat-option value="basic">Basic</mat-option>
                                <mat-option value="midlevel">Mid Level</mat-option>
                                <mat-option value="advance">Advance</mat-option>
                            </mat-select>
                        </mat-form-field><!-- Level End  -->
                        
                        <!-- Date Picker  -->
                        <mat-form-field class="inline-form__input">
                            <input matInput [matDatepicker]="picker" placeholder="Since">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field><!-- Date Picker Ends  -->
    

                        <div class="inline-form__button">
                            <button class="blue-btn blue-btn-sm">Submit</button>
                        </div>
                    </form>
                    <div class="inline-form__button">
                        <button (click)="toggleSkillForm()" class="blue-btn blue-btn-sm">Cancel</button>
                    </div>
                </div><!-- Skill Form Ends -->

                <div class="profile-table__row">
                    <span class="profile-table__data">1</span>
                    <span class="profile-table__data">JavaScript</span>
                    <span class="profile-table__data">Basic</span>
                    <span class="profile-table__data">2 &nbsp; Years</span>
                    <div class="profile-table__update-btn">
                        <a href="" class="icon-btn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="" class="icon-btn">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div><!-- Skills End -->

        </div><!-- Skill Col Ends -->

        <!-- Tool Col -->
        <div class="col-2">

            <!-- Tools -->
            <div class="profile-table">
                <div class="profile-table__header">
                    <mat-icon class="profile-table__icon">build</mat-icon>
                    <h1 class="profile-table__title">Programming Tools</h1>
                    <button *ngIf="!toolFormIsLoaded" (click)="toggleToolForm()" class="profile-table__add-btn">Add Tool</button>
                </div>

                <!-- Tool Form -->
                <div *ngIf="toolFormIsLoaded" class="profile-table__form inline-form">
                    <form>

                        <!-- Tool  -->
                        <mat-form-field class="inline-form__input">
                            <input name="tool" maxlength="100" matInput placeholder="Tool" #tool required>
                            <mat-hint align="end">{{tool.value?.length || 0}}/100</mat-hint>
                        </mat-form-field><!-- Language Ends -->
                        
                        <!-- Level  -->
                        <mat-form-field  class="inline-form__input">
                            <mat-select placeholder="Choose Level">
                                <mat-option value="basic">Basic</mat-option>
                                <mat-option value="midlevel">Mid Level</mat-option>
                                <mat-option value="advance">Advance</mat-option>
                            </mat-select>
                        </mat-form-field><!-- Level End  -->
                        
                        <!-- Date Picker  -->
                        <mat-form-field class="inline-form__input">
                            <input matInput [matDatepicker]="picker" placeholder="Since">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field><!-- Date Picker Ends  -->


                        <div class="inline-form__button">
                            <button class="blue-btn blue-btn-sm">Submit</button>
                        </div>
                    </form>
                    <div class="inline-form__button">
                        <button (click)="toggleToolForm()"  class="blue-btn blue-btn-sm">Cancel</button>
                    </div>
                </div><!-- Skill Form Ends -->

                <div class="profile-table__row">
                    <span class="profile-table__data">1</span>
                    <span class="profile-table__data">Visual Studio</span>
                    <span class="profile-table__data">Basic</span>
                    <span class="profile-table__data">2 &nbsp; Years</span>
                    <div class="profile-table__update-btn">
                        <a href="" class="icon-btn">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="" class="icon-btn">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div><!-- Tools End -->

        </div> <!-- Tool Col Ends -->

    </div><!-- Skills and Tools Row Ends-->


    <!-- Projects -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">dns</mat-icon>
            <h1 class="profile-table__title">Projects</h1>
            <button *ngIf="!projectFormIsLoaded" (click)="toggleProjectForm()"  class="profile-table__add-btn">Add Project</button>
        </div>

        <!-- Project Form -->
        <div *ngIf="projectFormIsLoaded" class="profile-table__form inline-form">
            <form>

                <!-- title  -->
                <mat-form-field class="inline-form__input">
                    <input name="title" maxlength="100" matInput placeholder="Project Name" #title required>
                    <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- title Ends -->
                
                <!-- language  -->
                <mat-form-field class="inline-form__input">
                    <input name="language" maxlength="100" matInput placeholder="Technology" #language required>
                    <mat-hint align="end">{{language.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- Language Ends -->

                <!-- Link  -->
                <mat-form-field class="inline-form__input">
                    <input name="link" maxlength="100" matInput placeholder="Url" #link required>
                    <mat-hint align="end">{{link.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- Language Ends -->

                <div class="inline-form__button">
                    <button class="blue-btn blue-btn-sm">Submit</button>
                </div>
            </form>
            <div class="inline-form__button">
                <button (click)="toggleProjectForm()"   class="blue-btn blue-btn-sm">Cancel</button>
            </div>
        </div><!-- Project Form Ends -->

        <div class="profile-table__row">
            <span class="profile-table__data">1</span>
            <span class="profile-table__data">Online Shopping Web</span>
            <span class="profile-table__data">Bootstrap</span>
            <span class="profile-table__data">
                <a href="" class="profile-table__link">Live Preview</a>
            </span>
            <div class="profile-table__update-btn">
                <a href="" class="icon-btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="" class="icon-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div><!-- Projects End -->


    <!-- Experiance -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">work</mat-icon>
            <h1 class="profile-table__title"> Experiance</h1>
            <button *ngIf="!experianceFormIsLoaded" (click)="toggleExperianceForm()" class="profile-table__add-btn">Add Experiance</button>
        </div>

        <!-- Experiance Form -->
        <div *ngIf="experianceFormIsLoaded" class="profile-table__form inline-form">
            <form>

            <!-- Started Picker  -->
                <mat-form-field class="inline-form__input">
                    <input matInput [matDatepicker]="started" placeholder="Start">
                    <mat-datepicker-toggle matSuffix [for]="started"></mat-datepicker-toggle>
                    <mat-datepicker #started></mat-datepicker>
                </mat-form-field><!-- started Picker Ends  -->

                <!-- Ended Picker  -->
                <mat-form-field class="inline-form__input">
                    <input matInput [matDatepicker]="ended" placeholder="End">
                    <mat-datepicker-toggle matSuffix [for]="ended"></mat-datepicker-toggle>
                    <mat-datepicker #ended></mat-datepicker>
                </mat-form-field><!-- Ended Picker Ends  -->        

                <!-- company  -->
                <mat-form-field class="inline-form__input">
                    <input name="company" maxlength="100" matInput placeholder="Company" #company required>
                    <mat-hint align="end">{{company.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- company Ends -->

                <!-- Position  -->
                <mat-form-field class="inline-form__input">
                    <input name="position" maxlength="100" matInput placeholder="Position" #position required>
                    <mat-hint align="end">{{position.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- Position Ends -->

                <div class="inline-form__button">
                    <button class="blue-btn blue-btn-sm">Submit</button>
                </div>
            </form>
            <div class="inline-form__button">
                <button (click)="toggleExperianceForm()"  class="blue-btn blue-btn-sm">Cancel</button>
            </div>
        </div><!-- Experiance Form Ends -->

        <div (click)="toggleProfileRow()" class="profile-table__row">
            <span class="profile-table__data">02, 2015 - 06, 2017</span>
            <span class="profile-table__data">Diplomatic Language Service</span>
            <span class="profile-table__data">Language Instructor</span>
            <div class="profile-table__update-btn">
                <mat-icon [ngClass]="profileRowIsExpanded ? 'arrowBtnUp' : 'arrowBtnDown'"  class="arrow-btn">keyboard_arrow_down</mat-icon>
            </div>
        </div>

        <div [@expandCollapse]="profileRowIsExpanded ? 'expanded' : 'collapsed'" class="profile-table__row-detail">
            <p class="profile-table__discription">
                Accusantium, ad minus quisquam corporis dolor 
                repudiandae vept dolorum nobis omnis laboriosam? 
            </p>
        </div>
    </div><!-- Experiance End -->


    <!-- Education -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">library_books</mat-icon>
            <h1 class="profile-table__title">Education</h1>
            <button *ngIf="!educationFormIsLoaded" (click)="toggleEducationForm()" class="profile-table__add-btn">Add Education</button>
        </div>

        <!-- Education Form -->
        <div *ngIf="educationFormIsLoaded" class="profile-table__form inline-form">
            <form>

            <!-- Started Picker  -->
                <mat-form-field class="inline-form__input">
                    <input matInput [matDatepicker]="started" placeholder="Start">
                    <mat-datepicker-toggle matSuffix [for]="started"></mat-datepicker-toggle>
                    <mat-datepicker #started></mat-datepicker>
                </mat-form-field><!-- started Picker Ends  -->

                <!-- Ended Picker  -->
                <mat-form-field class="inline-form__input">
                    <input matInput [matDatepicker]="ended" placeholder="End">
                    <mat-datepicker-toggle matSuffix [for]="ended"></mat-datepicker-toggle>
                    <mat-datepicker #ended></mat-datepicker>
                </mat-form-field><!-- Ended Picker Ends  -->        

                <!-- school  -->
                <mat-form-field class="inline-form__input">
                    <input name="school" maxlength="100" matInput placeholder="School" #school required>
                    <mat-hint align="end">{{school.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- school Ends -->

                <!-- Major  -->
                <mat-form-field class="inline-form__input">
                    <input name="major" maxlength="100" matInput placeholder="Major" #major required>
                    <mat-hint align="end">{{major.value?.length || 0}}/100</mat-hint>
                </mat-form-field><!-- major Ends -->

                <div class="inline-form__button">
                    <button class="blue-btn blue-btn-sm">Submit</button>
                </div>
            </form>
            <div class="inline-form__button">
                <button (click)="toggleEducationForm()"  class="blue-btn blue-btn-sm">Cancel</button>
            </div>
        </div><!-- Experiance Form Ends -->


        <div class="profile-table__row">
            <span class="profile-table__data">02, 2015 - 08, 2017</span>
            <span class="profile-table__data">Goerge Mason University</span>
            <span class="profile-table__data">Computer Science</span>
            <div class="profile-table__update-btn">
                <a href="" class="icon-btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="" class="icon-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div><!-- Tools End -->


    <!-- Publications -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">assignment</mat-icon>
            <h1 class="profile-table__title">Publications</h1>
            <button class="profile-table__add-btn">Add Publication</button>
        </div>
        <div class="profile-table__row">
            <span class="profile-table__data">Jan 01, 2018</span>
            <span class="profile-table__data">Learn JavaScript Algorithm</span>
            <span class="profile-table__data">
                <a href="" class="profile-table__link">Read</a>
            </span>
        </div>
    </div><!-- Projects End -->


</div><!-- Profile Ends -->