<!-- Top Nav -->
<nav [ngClass]="sideNavbarIsToggled ? 'nav-is-expanded' : ''" class="top-nav">
  <!-- Menu Icon -->
  <li class="top-nav__side-nav-toggle">
    <button (click)="toggleSideNav()" class="menu-button button">
      <mat-icon>menu</mat-icon>
    </button>
  </li><!-- Menu Icon Ends -->

  <!-- Right Nav  -->
  <div class="top-nav__right-nav">
    
    <!-- <li class="top-nav__search">
      <mat-form-field class="input-field">
        <input matInput placeholder="Search">
      </mat-form-field>
      <button class="menu-button button">
        <mat-icon>search</mat-icon>
      </button>
    </li> -->
    <!-- Search Ends -->

    <!-- Filter -->
    <!-- <li class="top-nav__filter">
      <button mat-button [matMenuTriggerFor]="filter">
        <mat-icon>tune</mat-icon>
      </button>
      <mat-menu #filter="matMenu">
        
        <div class="tab">
          <li class="tab__list">
            <a href="#" class="tab__link">
              <span class="tab__icon">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </span>
              Most Viewed
            </a>
          </li>
          <li class="tab__list">
            <a href="#" class="tab__link">
              <span class="tab__icon">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </span>
              Most Liked
            </a>
          </li>
          <li class="tab__list">
            <a href="#" class="tab__link">
              <span class="tab__icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
              </span>
              Most Shared
            </a>
          </li>
          <li class="tab__list">
            <a href="#" class="tab__link">
              <span class="tab__icon">
                <i class="fa fa-comments" aria-hidden="true"></i>
              </span>
            Most Discussed
            </a>
          </li>
          <li class="tab__list">
            <a href="#" class="tab__link">
              <span class="tab__icon">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </span>
              Most Recent
            </a>
          </li>
          <li class="tab__list">
            <a href="#" class="tab__link">
              <span class="tab__icon">
                <i class="fa fa-tasks" aria-hidden="true"></i>
              </span>
              Category
            </a>
          </li>
        </div>
      </mat-menu>
    </li> -->
    <!-- Filter Ends-->

    <!-- Profile Menu -->
    <li class="top-nav__profile">
      <button mat-button [matMenuTriggerFor]="profile">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <div class="tab">
          <li *ngIf="!authService.userLoggedIn()" class="tab__list">
            <a [routerLink]="['/login']" class="tab__link">
              <span class="tab__icon">
                <mat-icon>vpn_key</mat-icon>
              </span>
               Login
            </a>
          </li>
          <li *ngIf="authService.userLoggedIn()" class="tab__list">
            <a (click)="onLogout()" class="tab__link">
              <span class="tab__icon">
                  <mat-icon>power_settings_new</mat-icon>
              </span>
                Logout
            </a>
          </li>
          <li *ngIf="!authService.userLoggedIn()" class="tab__list">
            <a [routerLink]="['/register']" class="tab__link">
              <span class="tab__icon">
                  <mat-icon>input</mat-icon>
              </span>
             Register
            </a>
          </li>
          <li *ngIf="authService.userLoggedIn()" class="tab__list">
            <a [routerLink]="['/profile']" class="tab__link">
              <span class="tab__icon">
                  <mat-icon >person</mat-icon>
              </span>
              Profile
            </a>
          </li>
        </div>
      </mat-menu>
    </li><!-- Profile Ends-->

  </div><!-- Right Menu Ends -->
</nav><!-- Top Nav Ends-->


<!-- Side Nav -->
<div [ngClass]="sideNavbarIsToggled ? 'closeNav' : 'openNav' " id="side-navbar">
  <!-- Nav Wrapper -->
  <div class="nav-wrapper">

    <!-- Private Nav -->
    <ul  class="private-nav">

        <div class="private-nav__img user-img user-img--md">
            <img class="user-img__img" src="assets/images/profile-pic.jpg" alt="">
        </div>
      <h1 class="private-nav__title">Hasrat Sabit</h1>

      <button (click)="toggleUserProfile()" class="private-nav__button button">
        <mat-icon [ngClass]="mobileNavExpanded ? 'arrowUp' : 'arrowDown'">keyboard_arrow_down</mat-icon>
      </button>

    </ul>
    <!-- Private Nav Ends -->

    <!-- Mobile List -->
    <ul class="mobile-list" [ngClass]="mobileNavExpanded ? 
                        'dropdownCollapsed' :
                        'dropdownExpanded'">
      <li *ngIf="!authService.userLoggedIn()">
        <a routerLink="/login" [routerLinkActive]="['active']">
          <mat-icon>vpn_key</mat-icon>Login</a>
      </li>

      <li *ngIf="authService.userLoggedIn()">
        <a routerLink="/logout" [routerLinkActive]="['active']">
          <mat-icon>power_settings_new</mat-icon>Logout</a>
      </li>

      <li *ngIf="!authService.userLoggedIn()">
        <a routerLink="/register" [routerLinkActive]="['active']">
          <mat-icon>input</mat-icon>Register</a>
      </li>

    </ul>
    <!-- Mobile List Ends-->

    <!-- Main Navbar -->
    <ul class="navbar">

      <!-- Public Nav -->
      <ul class="navbar__public-nav">
        <li>
          <a routerLink="/" [routerLinkActive]="['active']">
            <mat-icon>home</mat-icon>Home</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/" [routerLinkActive]="['active']">
            <mat-icon>code</mat-icon>Tutorials</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/forum" [routerLinkActive]="['active']">
            <mat-icon>forum</mat-icon>Forum</a>
        </li>
        <li  *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/dashboard" [routerLinkActive]="['active']">
            <mat-icon>dashboard</mat-icon>Dashboard</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/blog" [routerLinkActive]="['active']">
            <mat-icon>description</mat-icon>Blogs</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/" [routerLinkActive]="['active']">
            <mat-icon>build</mat-icon>Projects</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/comment" [routerLinkActive]="['active']">
            <mat-icon>comment</mat-icon>Comments</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/category" [routerLinkActive]="['active']">
            <mat-icon>dns</mat-icon>Categories</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/user" [routerLinkActive]="['active']">
            <mat-icon>person</mat-icon>Users</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/email" [routerLinkActive]="['active']">
            <mat-icon>email</mat-icon>Email</a>
        </li>
        <li>
          <a [routerLink]="['/profile/', 'hasratsabit']" [routerLinkActive]="['active']">
            <mat-icon>person</mat-icon>Profile</a>
        </li>  
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/parts" [routerLinkActive]="['active']">
            <mat-icon>settings_input_component</mat-icon>Components</a>
        </li>
        <li *ngIf="authService.userLoggedIn() && isAdmin">
          <a routerLink="/animation" [routerLinkActive]="['active']">
            <mat-icon>assessment</mat-icon>Animation</a>
        </li>
      </ul>
      <!-- Public Nav Ends-->

    </ul>
    <!-- Navbar Ends -->

  </div>
  <!-- Nav Wrapper Ends -->
</div>
<!-- Side Nav Ends -->




<!-- Loggout message -->
<div *ngIf="loggedOutLoaded">
  <div [ngClass]="{'expand-layer': loggedOutLoaded, 'collapse-layer': !loggedOutLoaded}" class="dark-layer">
    <div @fadeIn class="alert alert-green">
      <i class="fa fa-thumbs-o-up icon-large alert-icon" aria-hidden="true"></i>
      <p class="alert-text"> You are successfully logged out.</p>
    </div>
  </div>
</div>
