<div class="comment">
  <div @fadeIn class="row">
    <!-- Table  -->
    <table class="table table-hover table-green table-center custom-table">
      <div class="custom-head">
        <mat-icon class="custom-icon">comment</mat-icon>
        <h1 class="custom-title">Comment</h1>
      </div>
      <thead>

      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>John Doe</td>
          <td>Nov 13, 2017</td>
          <td>Closures</td>
          <td>33 <br/>Replies</td>
          <td><a class="view" href="">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>John Doe</td>
          <td>Nov 13, 2017</td>
          <td>Closures</td>
          <td>33 <br/>Replies</td>
          <td><a class="view" href="">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>John Doe</td>
          <td>Nov 13, 2017</td>
          <td>Closures</td>
          <td>33 <br/>Replies</td>
          <td><a class="view" href="">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>John Doe</td>
          <td>Nov 13, 2017</td>
          <td>Closures</td>
          <td>33 <br/>Replies</td>
          <td><a class="view" href="">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>John Doe</td>
          <td>Nov 13, 2017</td>
          <td>Closures</td>
          <td>33 <br/>Replies</td>
          <td><a class="view" href="">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
        <tr>
          <td>01</td>
          <td>John Doe</td>
          <td>Nov 13, 2017</td>
          <td>Closures</td>
          <td>33 <br/>Replies</td>
          <td><a class="view" href="">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
      </tbody>
    </table><!-- Table Ends  -->
  </div><!-- Row Ends  -->
</div>
