<div class="comment">
  <div @fadeIn class="row">
    <!-- Table  -->
    <table class="table table-hover table-green table-center custom-table">
      <div class="custom-head">
        <mat-icon class="custom-icon">comment</mat-icon>
        <h1 class="custom-title">Comment</h1>
      </div>
      <thead>

      </thead>
      <tbody>
        <tr *ngFor="let comment of blogComments; i as index">
          <td>{{ i }}</td>
          <td>{{ comment.authorName }}</td>
          <td>{{ comment.date | date: 'MMM dd, yyyy'}}</td>
          <td>{{ comment.blogTitle }}</td>
          <td>{{ comment.replies.length }}<br/>Replies</td>
          <td><a class="view" [routerLink]="['/read-more/, comment.blogId']">View</a></td>
          <td><a class="edit" href="">Approved</a></td>
          <td><a class="delete" href="">Delete</a></td>
        </tr>
      </tbody>
    </table><!-- Table Ends  -->
  </div><!-- Row Ends  -->
</div>
