    <!-- abouts -->
    <div class="profile-table">
        <div class="profile-table__header">
            <mat-icon class="profile-table__icon">perm_contact_calendar</mat-icon>
            <h1 class="profile-table__title">about me</h1>
            <button *ngIf="!aboutFormIsLoaded" (click)="toggleaboutForm()" class="profile-table__add-btn">Update</button>
        </div>

        <!-- Success or Error Message -->
        <div @fadeIn *ngIf="alertMessage" class="modal-box-alert">
            <div [ngClass]="alertMessageClass">
                <i *ngIf="successIcon" class="fa fa-thumbs-o-up alert-icon" aria-hidden="true"></i>
                <i *ngIf="!successIcon" class="fa fa-ban alert-icon" aria-hidden="true"></i>
                <p class="alert-text">{{ alertMessage }}</p>
            </div>
        </div><!-- Success or Error Message Ends -->
  
        <!-- about Form -->
        <div  [@expandCollapse]="aboutFormIsLoaded ? 'expanded' : 'collapsed'" class="profile-table__form inline-form">
            <form [formGroup]="aboutForm" (submit)="onAboutSubmit()" >
                <mat-form-field class="profile-table__about-textarea inline-form__input">
                    <textarea
                        [(ngModel)]="profile.about" 
                        formControlName="about"
                        name="about" 
                        maxlength="1500" 
                        matInput 
                        placeholder="Who you are?" 
                        #about 
                        required>
                    </textarea>
                    <mat-hint align="end">{{about.value?.length || 0}}/1500</mat-hint>

                    <mat-error *ngIf="aboutForm.controls.about.dirty &&
                    aboutForm.controls.about.errors?.required">
                        This field is required.
                    </mat-error>
                    <mat-error *ngIf="aboutForm.controls.about.dirty &&
                    (aboutForm.controls.about.errors?.minlength || aboutForm.controls.about.errors?.maxlength)">
                        The field must be at least 50 characters but no more than 1500.
                    </mat-error>

                </mat-form-field>

                <div class="profile-table__about-button inline-form__button">
                    <button 
                    class="button button-small button-blue"
                    type="submit"
                    [disabled]="processing || !aboutForm.valid">Submit</button>
                </div>

            </form>

            <div class="profile-table__about-button inline-form__button">
                <button [disabled]="processing" (click)="toggleaboutForm()" class="button button-small button-default">Cancel</button>
            </div>

        </div><!-- about Form Ends -->
  
        <div class="profile-table__row-detail">
            <p class="profile-table__discription">{{ profile.about }}</p>
        </div>
    </div><!-- abouts End -->  