    <!-- Publications -->
    <div class="profile-table">
      <div class="profile-table__header">
          <mat-icon class="profile-table__icon">assignment</mat-icon>
          <h1 class="profile-table__title">Publications</h1>
          <!-- <button class="profile-table__add-btn">Add Publication</button> -->
      </div>
      <div class="profile-table__row">
          <span class="profile-table__data">Jan 01, 2018</span>
          <span class="profile-table__data">Learn JavaScript Algorithm</span>
          <span class="profile-table__data">
              <a href="" class="profile-table__link">Read</a>
          </span>
      </div>
  </div><!-- Projects End -->